/* WooCommerce
------------------------------------------------------------------------------------ */

/* Content and Sidebar */
.woocommerce.sidebar_show .content {
    width: 770px;
}
.woocommerce .sidebar {
    width: 270px;
}

/* Fullwide or Fullscreen with sidebar */
.woocommerce.body_style_fullwide.sidebar_right .content, .woocommerce.body_style_fullscreen.sidebar_right .content {
    padding-right: 330px;
}

.woocommerce.body_style_fullwide.sidebar_right .sidebar, .woocommerce.body_style_fullscreen.sidebar_right .sidebar {
    margin-left: -300px;
}

.woocommerce.body_style_fullwide.sidebar_left .content, .woocommerce.body_style_fullscreen.sidebar_left .content {
    padding-left: 330px;
}

.woocommerce.body_style_fullwide.sidebar_left .sidebar, .woocommerce.body_style_fullscreen.sidebar_left .sidebar {
    margin-right: -300px;
}


/* Hide WooC breadcrumbs - our more comfortable */
.woocommerce-breadcrumb {
    display: none;
}

/* Hide results count
.woocommerce-result-count { display:none; }
 */

/* Buttons area */
.woocommerce p.buttons, .woocommerce-page p.buttons {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Lists */
.woocommerce .content ol li:before, .woocommerce-page .content ol li:before, .woocommerce .content ul li:before, .woocommerce-page .content ul li:before {
    margin-top: 8px;
}

/* SALE and NEW icons */
.woocommerce span.new, .woocommerce-page span.new,
.woocommerce span.onsale, .woocommerce-page span.onsale,
.woocommerce ul.products li.product span.new, .woocommerce-page ul.products li.product span.new,
.woocommerce ul.products li.product span.onsale, .woocommerce-page ul.products li.product span.onsale {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    margin: 1.6em 0 0 1.6em;
    width: 4em;
    height: 4em;
    overflow: hidden;
    font-size: 0.625em;
    font-weight: bold;
    text-align: center;
    line-height: 4em;
    text-transform: uppercase;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/* Buttons */
.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button,
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt, .woocommerce-account .addresses .title .edit ,
.woocommerce .cart .button, .woocommerce .cart input.button{
    display: inline-block;
    text-align: center;
    padding: 0.5em 1.45em;
    font-size: 0.824rem;
    font-weight: 700;
    line-height: 1.7;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    border: 2px solid;
    text-transform: uppercase;
}
.woocommerce .widget_area  .widget_shopping_cart .buttons a,
.woocommerce-page .widget_area  .widget_shopping_cart .buttons a{
    padding-left: 0;
    padding-right: 0;
    width: 54%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.woocommerce .widget_area  .widget_shopping_cart .buttons a:first-child,
.woocommerce-page .widget_area  .widget_shopping_cart .buttons a:first-child{
    width: auto;
}
.woocommerce .widget_area  .widget_shopping_cart .buttons a.button:not(.checkout),
.woocommerce-page .widget_area  .widget_shopping_cart .buttons a.button:not(.checkout){
    text-align: left;
}

.woocommerce .widget_price_filter .price_slider_amount{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column-reverse;
    -webkit-flex-flow: column-reverse;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.woocommerce ul.products li.product .button {
    margin-top: 0;
}

.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover {
    top: 0 !important;
}

/* Input and textarea */
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea ,
.woocommerce .select2-container .select2-choice .select2-chosen, .woocommerce form .select2-container .select2-choice .select2-chosen{
    line-height: 1.3em;
    padding: 0.7em 1em;
}
.woocommerce .select2-container .select2-choice, .woocommerce form .select2-container .select2-choice{
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
}
.woocommerce form .form-row input[name="password"],
.woocommerce form .form-row input[name="username"],
.woocommerce form .form-row input[name="coupon_code"]{
    height:2.4rem;
}
.woocommerce .select2-container .select2-choice .select2-chosen, .woocommerce form .select2-container .select2-choice .select2-chosen{
    border: none;
}

/* Select fields */
.woocommerce-ordering {
    overflow: hidden;
    position: relative;
}

.woocommerce-ordering:after {
    content: '\E828';
    font-family: 'fontello';
    position: absolute;
    z-index: 1;
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 2.2rem;
    cursor: pointer;
    pointer-events: none;
    font-size: 1em;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

.woocommerce-ordering select {
    width: 100%;
    padding: 0.8em 2em 0.98em 2em;
}

/* Shop Listing
----------------------------------------------------------------- */
.woocommerce .mode_buttons, .woocommerce-page .mode_buttons {
    float: left;
    margin-right: 0.5em;
    margin-bottom: 1em;
    display: block;
    font-size: 1.125em;
}

.woocommerce .mode_buttons a + a, .woocommerce-page .mode_buttons a + a {
    margin-left: 0.5em;
}

.woocommerce ul.products, .woocommerce-page ul.products {
    margin-right: -30px;
    margin-bottom: 0;
}

.woocommerce.columns-1 ul.products li.product, .woocommerce-page.columns-1 ul.products li.product,
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0 30px 30px 0;
    position: relative;
    width: 100%;
}

.woocommerce.columns-2 ul.products li.product, .woocommerce-page.columns-2 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_2, .woocommerce-page .related.products ul.products li.product.column-1_2,
.woocommerce .upcells.products ul.products li.product.column-1_2, .woocommerce-page .upcells.products ul.products li.product.column-1_2,
.woocommerce ul.products li.product.column-1_2, .woocommerce-page ul.products li.product.column-1_2 {
    width: 50%;
}

.woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_3, .woocommerce-page .related.products ul.products li.product.column-1_3,
.woocommerce .upcells.products ul.products li.product.column-1_3, .woocommerce-page .upcells.products ul.products li.product.column-1_3,
.woocommerce ul.products li.product.column-1_3, .woocommerce-page ul.products li.product.column-1_3 {
    width: 33%;
}

.woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_4, .woocommerce-page .related.products ul.products li.product.column-1_4,
.woocommerce .upcells.products ul.products li.product.column-1_4, .woocommerce-page .upcells.products ul.products li.product.column-1_4,
.woocommerce ul.products li.product.column-1_4, .woocommerce-page ul.products li.product.column-1_4 {
    width: 25%;
}

.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_5, .woocommerce-page .related.products ul.products li.product.column-1_5,
.woocommerce .upcells.products ul.products li.product.column-1_5, .woocommerce-page .upcells.products ul.products li.product.column-1_5,
.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5 {
    width: 20%;
}

.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6,
.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
    width: 16.6667%;
}

.woocommerce ul.products li.product-category mark, .woocommerce-page ul.products li.product-category mark {
    background: none;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
    font-size: 1.471rem;
    font-weight: 700;
    line-height: 1.2em;
    margin-top: 0.4rem;
    margin-bottom: 1.25rem;
    padding: 0;
    overflow: hidden;
    max-height: 3.5em;
    text-transform: none;
}
a.woocommerce_thumbs, a.woocommerce_list {
    font-size: 2rem;
    line-height: 1.1em;
}
.woocommerce .woocommerce-result-count {
    margin-top: 0.3em;
}
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
    margin-bottom: 3.5rem;
}

/* Thumbs mode */
.list_products.shop_mode_thumbs .product .post_item_wrap {
    text-align: center;
}
.woocommerce > ul.products li.product .post_item_wrap,
.related.products .post_item_wrap,
.woocommerce .list_products.shop_mode_thumbs .post_item_wrap,
.woocommerce-page .list_products.shop_mode_thumbs .post_item_wrap{
    padding-bottom: 3.176rem;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    overflow: hidden;
}

.woocommerce ul.products li.product .post_featured, .woocommerce-page ul.products li.product .post_featured {
    margin-bottom: 0;
}

.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img,
.woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img {
    margin: 0;
    box-shadow: none;
}

.woocommerce ul.products li.product .post_featured .hover_icon:before, .woocommerce-page ul.products li.product .post_featured .hover_icon:before {
    font-size: 3rem;
}

.article_style_boxed.woocommerce ul.products li.product .post_item_wrap, .article_style_boxed.woocommerce-page ul.products li.product .post_item_wrap {
    background-color: #f0f0f0;
}

.article_style_boxed.woocommerce ul.products li.product .post_content, .article_style_boxed.woocommerce-page ul.products li.product .post_content {
    background-color: #f4f7f9;
}

.article_style_boxed.woocommerce ul.products li.product .post_content, .article_style_boxed.woocommerce-page ul.products li.product .post_content {
    padding: 1.25em 1.8em;
    text-align: center;
}

.article_style_boxed.woocommerce ul.products li.product .post_content .star-rating, .article_style_boxed.woocommerce-page ul.products li.product .post_content .star-rating {
    margin-left: auto;
    margin-right: auto;
}

.article_style_boxed.woocommerce .upsells ul.products li.product .post_content, .article_style_boxed.woocommerce-page .upsells ul.products li.product .post_content,
.article_style_boxed.woocommerce .crosssells ul.products li.product .post_content, .article_style_boxed.woocommerce-page .crosssells ul.products li.product .post_content,
.article_style_boxed.woocommerce .related ul.products li.product .post_content, .article_style_boxed.woocommerce-page .related ul.products li.product .post_content {
    background-color: #f4f7f9;
}

.article_style_boxed.woocommerce ul.products li.product h3, .article_style_boxed.woocommerce-page ul.products li.product h3 {
    margin-top: 0;
}

.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
    font-size: 0.941rem;
    font-weight: 700;
    margin-bottom: 1.1rem;
}

.woocommerce ul.products li.product .price ins {
    text-decoration: none;
    font-weight: inherit;
    font-style: inherit;
}

.woocommerce ul.products li.product .price del {
    display: inline-block;
    margin-right: 6px;
}

/* List mode */
.list_products.shop_mode_list .post_content {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-flow: column;
    padding: 3rem 1rem 4rem 0;
}
.list_products.shop_mode_list .post_content .description {
    order: 3;
    -webkit-order: 3;
}
.list_products.shop_mode_list .post_content > a {
    order: 4;
    -webkit-order: 4;
    width: 10em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.woocommerce .list_products.shop_mode_list ul.products li.product .price, .woocommerce-page .list_products.shop_mode_list ul.products li.product .price {
    margin-bottom: 0.9rem;
}
.woocommerce .shop_mode_list ul.products li.product, .woocommerce-page .shop_mode_list ul.products li.product {
    overflow: hidden;
    margin: 0;
    float: none;
    width: 100%;
}

.woocommerce .shop_mode_list ul.products li.product .post_item_wrap, .woocommerce-page .shop_mode_list ul.products li.product .post_item_wrap {
    overflow: hidden;
}

.woocommerce .shop_mode_list ul.products li.product .post_featured .hover_icon:after, .woocommerce-page .shop_mode_list ul.products li.product .post_featured .hover_icon:after{
    background-color: transparent !important;
}
.woocommerce .shop_mode_list ul.products li.product .post_featured, .woocommerce-page .shop_mode_list ul.products li.product .post_featured {
    float: left;
    margin: 3rem 1em 0 0;
    width: 37%;
}

.article_style_boxed.woocommerce .shop_mode_list ul.products li.product .post_content, .article_style_boxed.woocommerce-page .shop_mode_list ul.products li.product .post_content {
    overflow: hidden;
    padding: 1.25em 1.875em;
    max-height: 286px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.woocommerce .shop_mode_list ul.products li.product h3, .woocommerce-page .shop_mode_list ul.products li.product h3 {
    margin-top: 0;
    margin-bottom: 0.7em;
    border-bottom: none;
}

.woocommerce .shop_mode_list ul.products li.product .description, .woocommerce-page .shop_mode_list ul.products li.product .description {
    margin-bottom: 1.9rem;
    overflow: hidden;
}

.woocommerce .shop_mode_list ul.products li.product-category .description, .woocommerce-page .shop_mode_list ul.products li.product-category .description {
    border-bottom: none;
}

.woocommerce .shop_mode_list ul.products li.product .description p, .woocommerce-page .shop_mode_list ul.products li.product .description p,
.woocommerce .shop_mode_list ul.products li.product .description ul, .woocommerce-page .shop_mode_list ul.products li.product .description ul {
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1.7em;
}

.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart {
    padding: 0.5em 0 0 0.5em;
    vertical-align: top;
}

/* Rating stars */
.woocommerce .products .star-rating {
    margin-bottom: 1em;
}

.woocommerce .products .star-rating:before,
.woocommerce .products .star-rating span {
    top: 1px;
}

/* Pagination */
.woocommerce nav.woocommerce-pagination ul {
    border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
    margin: 0 4px 4px 0;
    border: none;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span.current {
    border-width: 2px;
    border-style: solid;
}

/* List products in the shortcodes */
.vc_row .woocommerce .products .post_item_wrap {
    text-align: center;
}

.vc_row .woocommerce .products .star-rating {
    margin-left: auto;
    margin-right: auto;
}

/* Single product decoration
---------------------------------------------------------------------------- */

/* Title */
.woocommerce div.product .product_title {
    font-size: 1.471rem;
    font-weight: 700;
    margin-bottom: 0.5em;
}

/* Price */
.woocommerce div.product p.price {
    position: relative;
    margin-bottom: 0.7em;
    font-size: 0.941rem;
    font-weight: 700;
}

.woocommerce div.product p.price ins {
    text-decoration: none;
    font-size: 1.125em;
    font-style: normal;
}

.woocommerce div.product p.price del {
    font-size: 0.875em;
}

/* Descr */
.single-product.woocommerce div.product div[itemprop="description"] p{
    margin-bottom: 1.7em;
    line-height: 1.7;
}

/* Images and thumbnails */
.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
    margin-bottom: 2em;
    width: 37%;
}

.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
    margin-right: 1.5%;
    width: 18.5%;
    position: relative;
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.woocommerce #content div.product div.thumbnails.columns-4 a, .woocommerce div.product div.thumbnails.columns-4 a,
.woocommerce-page #content div.product div.thumbnails.columns-4 a, .woocommerce-page div.product div.thumbnails.columns-4 a {
    margin-right: 2.5%;
    width: 22.5%;
}

.woocommerce #content div.product div.thumbnails.columns-3 a, .woocommerce div.product div.thumbnails.columns-3 a,
.woocommerce-page #content div.product div.thumbnails.columns-3 a, .woocommerce-page div.product div.thumbnails.columns-3 a {
    margin-right: 3.3333%;
    width: 33%;
}

.woocommerce #content div.product div.thumbnails a:hover, .woocommerce div.product div.thumbnails a:hover, .woocommerce-page #content div.product div.thumbnails a:hover, .woocommerce-page div.product div.thumbnails a:hover {
    border-color: #f0f0f0;
}

.woocommerce #content div.product div.thumbnails a:before, .woocommerce div.product div.thumbnails a:before, .woocommerce-page #content div.product div.thumbnails a:before, .woocommerce-page div.product div.thumbnails a:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    width: 57.6%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-flow: column;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary  .product_meta,
.woocommerce-page #content div.product div.summary .product_meta,
.woocommerce-page div.product div.summary  .product_meta{
    order: 4;
    -webkit-order: 4;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary  form.cart,
.woocommerce-page #content div.product div.summary form.cart,
.woocommerce-page div.product div.summary  form.cart{
    order: 5;
    -webkit-order: 5;
    margin-top: 2.2rem;
}

.woocommerce #content div.product div.thumbnails a:hover:before, .woocommerce div.product div.thumbnails a:hover:before, .woocommerce-page #content div.product div.thumbnails a:hover:before, .woocommerce-page div.product div.thumbnails a:hover:before {
    background-color: rgba(255, 255, 255, 0.4);
}

.woocommerce #content div.product div.thumbnails a.first, .woocommerce div.product div.thumbnails a.first, .woocommerce-page #content div.product div.thumbnails a.first, .woocommerce-page div.product div.thumbnails a.first {
    clear: none;
}

.woocommerce #content div.product div.thumbnails a.last, .woocommerce div.product div.thumbnails a.last, .woocommerce-page #content div.product div.thumbnails a.last, .woocommerce-page div.product div.thumbnails a.last {
    margin-right: 1.5%;
}

.woocommerce #content div.product div.thumbnails a:nth-child(5n+1), .woocommerce div.product div.thumbnails a:nth-child(5n+1), .woocommerce-page #content div.product div.thumbnails a:nth-child(5n+1), .woocommerce-page div.product div.thumbnails a:nth-child(5n+1) {
    clear: both;
}

div.pp_woocommerce .pp_arrow_next, div.pp_woocommerce .pp_arrow_previous {
    margin-top: 4px;
}

/* Meta: SKU, tags, categories, ID */
.woocommerce .product_meta span {
    display: block;
}

.woocommerce .product_meta span span {
    display: inline;
}

.woocommerce .product_meta span {
    font-weight: 400;
}

.woocommerce .product_meta span span,
.woocommerce .product_meta a {
    font-weight: 400;
}

/* Add to cart */
.woocommerce div.product form.cart, .woocommerce #content div.product form.cart, .woocommerce-page div.product form.cart, .woocommerce-page #content div.product form.cart {
    margin-bottom: 0;
    overflow: hidden;
}
.woocommerce .content .quantity,
.woocommerce-cart .content .woocommerce .quantity,
.woocommerce div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity {
    margin: 0 1.4rem 0 0;
    width: 7rem;
    height: 2.3rem;
    position: relative;
    border: 1px solid;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius:32px;
    overflow: hidden;
}

.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty ,
.woocommerce div.product form.cart div.quantity input[type="number"], .woocommerce-page div.product form.cart div.quantity input[type="number"] {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
}
.woocommerce div.product form.cart div.quantity span, .woocommerce-page div.product form.cart div.quantity span ,
.woocommerce table.shop_table  .product-quantity div.quantity span, .woocommerce-page table.shop_table  .product-quantity div.quantity span {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    position: absolute;
    z-index: 1;
    right: 0;
    width: 1.5em;
    height: auto;
    text-align: center;
    line-height: 1.3em;
    cursor: pointer;
}

.woocommerce div.product form.cart div.quantity span.q_inc, .woocommerce-page div.product form.cart div.quantity span.q_inc,
.woocommerce table.shop_table  .product-quantity div.quantity span.q_inc, .woocommerce-page table.shop_table  .product-quantity div.quantity span.q_inc{
    top: 0;
    bottom:50%;
}

.woocommerce div.product form.cart div.quantity span.q_dec, .woocommerce-page div.product form.cart div.quantity span.q_dec ,
.woocommerce table.shop_table  .product-quantity div.quantity span.q_dec, .woocommerce-page table.shop_table  .product-quantity div.quantity span.q_dec{
    top:50%;
    bottom: 0;
    border-top: 1px solid #ffffff;
}

.woocommerce div.product form.cart div.quantity span:before, .woocommerce-page div.product form.cart div.quantity span:before ,
.woocommerce table.shop_table  .product-quantity div.quantity span:before, .woocommerce-page table.shop_table  .product-quantity div.quantity span:before{
    font-family: 'fontello';
}

.woocommerce div.product form.cart div.quantity span.q_inc:before, .woocommerce-page div.product form.cart div.quantity span.q_inc:before ,
.woocommerce table.shop_table  .product-quantity div.quantity span.q_inc:before, .woocommerce-page table.shop_table  .product-quantity div.quantity span.q_inc:before{
    content: '\e835';
}

.woocommerce div.product form.cart div.quantity span.q_dec:before, .woocommerce-page div.product form.cart div.quantity span.q_dec:before ,
.woocommerce table.shop_table  .product-quantity div.quantity span.q_dec:before, .woocommerce-page table.shop_table  .product-quantity div.quantity span.q_dec:before{
    content: '\e828';
}

/* Tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
    margin-bottom: 0;
    padding-left: 30px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before {
    border-width: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
    background: #ffffff;
    box-shadow: none;
    border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
    border: 1px solid #dddddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-color: #ffffff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
    color: inherit;
    text-shadow: inherit;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
    font-weight: 400;
    padding: 0.75em 1em;
}

.woocommerce div.product .woocommerce-tabs .panel, .woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel {
    margin-top: 0;
    padding: 3.1rem 0 0;
    display: none;
    border: none;
    margin-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs h2, .woocommerce #content div.product .woocommerce-tabs h2, .woocommerce-page div.product .woocommerce-tabs h2, .woocommerce-page #content div.product .woocommerce-tabs h2 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.woocommerce div.product .woocommerce-tabs h3, .woocommerce #content div.product .woocommerce-tabs h3, .woocommerce-page div.product .woocommerce-tabs h3, .woocommerce-page #content div.product .woocommerce-tabs h3 {
    font-size: 1.5em;
    margin-bottom: 0.25em !important;
}

/* Decorate tabs on single product */
.single-product div.product .woocommerce-tabs.trx-stretch-width {
    padding: 7.5rem 0 0;
}

.single-product div.product .woocommerce-tabs.trx-stretch-width .wc-tabs {
    padding-left: 0;
}

.single-product div.product .woocommerce-tabs.trx-stretch-width .wc-tabs:before,
.single-product div.product .woocommerce-tabs.trx-stretch-width .wc-tabs:after {
    display: none;
}

.single-product div.product .woocommerce-tabs.trx-stretch-width .wc-tabs li {
    border: none !important;
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 600;
    float: left;
}

.single-product div.product .woocommerce-tabs.trx-stretch-width .wc-tabs li + li {
    margin-left: 1px !important;
}

.single-product div.product .woocommerce-tabs.trx-stretch-width .wc-tabs li a {
    border: none;
    position: relative;
    font-size: 0.824rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.8em 2.2em;
    /* line-height: 1.7; */
}

/* Stars */
.woocommerce .woocommerce-product-rating, .woocommerce-page .woocommerce-product-rating {
    float: right;
}

.woocommerce .woocommerce-product-rating .woocommerce-review-link, .woocommerce-page .woocommerce-product-rating .woocommerce-review-link {
    display: none;
}

.woocommerce .woocommerce-product-rating .star-rating, .woocommerce-page .woocommerce-product-rating .star-rating {
    margin-top: 4px;
    margin-bottom: 4px;
}

.woocommerce .star-rating, .woocommerce-page .star-rating {
    height: 1.2em;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Users reviews */
.woocommerce #reviews #comments ol.commentlist {
    padding: 0;
}

.woocommerce #reviews #comments ol.commentlist li {
    margin-bottom: 0;
}

.woocommerce .woocommerce-tabs .form-submit {
    display: inline-block;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar, .woocommerce-page #reviews #comments ol.commentlist li img.avatar {
    background: none;
    border: none;
    padding: 0;
    width: 50px;
    float: left;
    margin: 0 1.5em 0.5em 0;
    position: static;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text {
    margin: 0;
    padding: 0;
    border: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta {
    padding-top: 6px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta strong {
    font-size: 18px;
    font-weight: 400;
    color: #222222;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta time, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta time {
    font-style: italic;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text .description, .woocommerce-page #reviews #comments ol.commentlist li .comment-text .description {
    line-height: 21px;
}

.woocommerce #review_form #respond textarea, .woocommerce-page #review_form #respond textarea {
    height: 150px;
    font-weight: 400;
    overflow: auto;
}

/* Related products */
.woocommerce .related.products {
    margin-top: 6.5rem;
}
.woocommerce .related.products h2 {
    text-align: left;
    margin: 0 0 1em;
}

/* Categories list */
.woocommerce ul.products li.product.product-category .thumb_wrapper, .woocommerce-page ul.products li.product.product-category .thumb_wrapper {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: url(../images/woo/shop-cat-bg-1.jpg) center center no-repeat;
    padding: 1em;
    overflow: hidden;
}

/* not work correctly in the Chrome */
.woocommerce ul.products li.product.product-category .thumb_wrapper img, .woocommerce-page ul.products li.product.product-category .thumb_wrapper img {
    -moz-transform: scale(1.7) translate(15%, 15%);
    -o-transform: scale(1.7) translate(15%, 15%);
    -ms-transform: scale(1.7) translate(15%, 15%);
}

.woocommerce ul.products li.product.product-category:nth-child(6n+2) .thumb_wrapper, .woocommerce-page ul.products li.product.product-category:nth-child(6n+2) .thumb_wrapper {
    background: url(../images/woo/shop-cat-bg-2.jpg) center center no-repeat;
}

.woocommerce ul.products li.product.product-category:nth-child(6n+3) .thumb_wrapper, .woocommerce-page ul.products li.product.product-category:nth-child(6n+3) .thumb_wrapper {
    background: url(../images/woo/shop-cat-bg-3.jpg) center center no-repeat;
}

.woocommerce ul.products li.product.product-category:nth-child(6n+4) .thumb_wrapper, .woocommerce-page ul.products li.product.product-category:nth-child(6n+4) .thumb_wrapper {
    background: url(../images/woo/shop-cat-bg-4.jpg) center center no-repeat;
}

.woocommerce ul.products li.product.product-category:nth-child(6n+5) .thumb_wrapper, .woocommerce-page ul.products li.product.product-category:nth-child(6n+5) .thumb_wrapper {
    background: url(../images/woo/shop-cat-bg-5.jpg) center center no-repeat;
}

.woocommerce ul.products li.product.product-category:nth-child(6n+6) .thumb_wrapper, .woocommerce-page ul.products li.product.product-category:nth-child(6n+6) .thumb_wrapper {
    background: url(../images/woo/shop-cat-bg-6.jpg) center center no-repeat;
}

.woocommerce ul.products li.product.product-category img, .woocommerce-page ul.products li.product.product-category img {
    width: 100%;
    height: auto;
}

.woocommerce ul.products li.product.product-category h3, .woocommerce ul.products li.product.product-category .woocommerce-loop-category__title,
.woocommerce-page ul.products li.product.product-category h3, .woocommerce-page ul.products li.product.product-category .woocommerce-loop-category__title {
    margin-bottom: 0;
    border-bottom: none;
    text-align: center;
}

.woocommerce ul.products li.product.product-category mark.count, .woocommerce-page ul.products li.product.product-category mark.count {
    font-weight: 400;
}

/* Related products */
.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
    width: 50%;
    border: none;
    box-shadow: none;
    text-align: center;
}

/* Widgets decoration
---------------------------------------------------------------*/

/* Cart in top user menu */
.top_panel_wrap .sidebar_cart {
    width: 250px !important;
    padding: 1.5em !important;
}

.top_panel_wrap .widget_shopping_cart {
    display: block !important;
}

.top_panel_wrap .widget_shopping_cart ul.cart_list {
    display: block;
    position: static;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.top_panel_wrap .sidebar_cart > li,
.top_panel_wrap .widget_shopping_cart ul.cart_list > li {
    margin: 0;
    padding-left: 0;
}
.top_panel_wrap .sidebar_cart > li ul li:not(.empty),
.top_panel_wrap .widget_shopping_cart ul.cart_list > li ul li:not(.empty) {
    padding-right: 1.2rem;
}
.top_panel_wrap .sidebar_cart > li  .buttons a + a,
.top_panel_wrap .widget_shopping_cart ul.cart_list > li  .buttons a + a {
    margin-top:5px;
}

.top_panel_wrap .sidebar_cart > li:before,
.top_panel_wrap .sidebar_cart > li > a:before,
.top_panel_wrap .widget_shopping_cart ul.cart_list > li:before,
.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:before {
    display: none;
}

.woocommerce .top_panel_wrap .widget_shopping_cart .empty,
.woocommerce-page .top_panel_wrap .widget_shopping_cart .empty {
    padding-bottom: 1em;
}

.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a {
    padding: 0;
}

.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
    margin-top: -0.15em;
}

.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:hover {
    background-color: transparent;
}

.top_panel_wrap .widget_shopping_cart ul.cart_list > li img {
    width: 50px;
    margin-top: 0.5em;
}

/* Cart & Products list */
.woocommerce a.remove {
    color: #1a1f24 !important;
    margin-top: 0;
    font-weight: 400;
    text-align: center;
    border-radius: 0;
    font-size: 1.3rem;
    height: 1em;
    width: 1em;
    line-height: 1em;
}
.woocommerce a.remove:hover {
    background: red !important;
}

.woocommerce .widget_shopping_cart .cart_list .mini_cart_item + .mini_cart_item, .woocommerce-page .widget_shopping_cart .cart_list .mini_cart_item + .mini_cart_item {
    margin-top: 2.4rem;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce-page .widget_shopping_cart .cart_list li {
    padding: 0 1.5em 0 0;
    overflow: hidden;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
    left: auto;
    right: 0;
}

.woocommerce ul.cart_list li:before, .woocommerce ul.product_list_widget li:before, .woocommerce-page ul.cart_list li:before, .woocommerce-page ul.product_list_widget li:before {
    display: none;
}

.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a {
    font-weight: 400;
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
    box-shadow: none;
    width: 4.1rem;
    float: left;
    margin: 0 0.6em 0 0;
    border: 1px solid;
}

.woocommerce.widget_shopping_cart .quantity, .woocommerce .widget_shopping_cart .quantity, .woocommerce-page.widget_shopping_cart .quantity, .woocommerce-page .widget_shopping_cart .quantity {
    margin: 0.6rem 0 0;
    display: inline-block;
}

.woocommerce ul.cart_list li > .amount, .woocommerce ul.product_list_widget li > .amount, .woocommerce-page ul.cart_list li > .amount, .woocommerce-page ul.product_list_widget li > .amount,
.woocommerce ul.cart_list li span .amount, .woocommerce ul.product_list_widget li span .amount, .woocommerce-page ul.cart_list li span .amount, .woocommerce-page ul.product_list_widget li span .amount,
.woocommerce ul.cart_list li ins .amount, .woocommerce ul.product_list_widget li ins .amount, .woocommerce-page ul.cart_list li ins .amount, .woocommerce-page ul.product_list_widget li ins .amount ,
.woocommerce.widget_shopping_cart .total .amount, .woocommerce .widget_shopping_cart .total .amount, .woocommerce-page.widget_shopping_cart .total .amount, .woocommerce-page .widget_shopping_cart .total .amount
{
    font-size: 0.941rem;
    font-weight: 700;
}

.woocommerce ul.cart_list li ins, .woocommerce ul.product_list_widget li ins, .woocommerce-page ul.cart_list li ins, .woocommerce-page ul.product_list_widget li ins {
    text-decoration: none;
    font-style: normal;
}

.woocommerce ul.cart_list li del, .woocommerce ul.product_list_widget li del, .woocommerce-page ul.cart_list li del, .woocommerce-page ul.product_list_widget li del {
    font-size: 0.875em;
}

.woocommerce.widget_shopping_cart .total, .woocommerce .widget_shopping_cart .total, .woocommerce-page.widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total {
    font-size: 1em;
    padding: 2rem 0 0;
    border: none;
}
.woocommerce .widget_shopping_cart .total strong, .woocommerce.widget_shopping_cart .total strong {
    font-weight: normal;
}

/* Active filters */
.woocommerce .widget_layered_nav_filters > ul > li {
    padding: 0 0.625em 0.5em 0;
    display: block;
}

.woocommerce .widget_layered_nav_filters > ul > li:before {
    display: none;
}

.woocommerce .widget_layered_nav_filters > ul > li a,
.woocommerce .widget_layered_nav ul li.chosen a, .woocommerce-page .widget_layered_nav ul li.chosen a {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #222222;
}

/* Price filter */
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    margin-bottom: 2rem;
    background: #cccccc;
    height: 6px;
}

.woocommerce .widget_price_filter .price_label {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 1.2em;
}

.woocommerce .widget_price_filter .price_label span {
    font-size: 0.941rem;
    font-weight: 700;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    height: 8px;
    top: -1px;
}

/* Product categories */
body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories {
    margin: 0;
    padding: 0;
    list-style: none;
}

body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories li {
    position: relative;
    padding: 0.5em 1em;
    margin: 0;
}

body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories li + li {
    border-top: 1px dashed #eeeeee;
}

body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories li:before {
    display: none;
}

body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories.inited li.has_children:after {
    content: '\e836';
    font-family: 'fontello';
    display: block;
    position: absolute;
    z-index: 1;
    right: 1em;
    top: 0.5em;
}

body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories.inited li.has_children span.open_child_menu {
    display: none;
}

body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories ul {
    display: none;
}

body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories.inited ul {
    position: absolute;
    z-index: 100000;
    top: -0.5em;
    right: -200px;
    width: 200px;
}

/* Cart
--------------------------------------------------------------------- */

.woocommerce-cart .woocommerce table.shop_table.cart tr th {
    font-size: 0.824rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top:1.5em;
    padding-bottom:1.5em;
}
.woocommerce-cart article .post_content div.woocommerce,
.woocommerce-checkout article .post_content div.woocommerce{
    max-width:970px;
    margin: auto;
}
.woocommerce table.shop_table {
    margin: 0 -1px 2.2rem 0;
    border-radius: 0;
}
.woocommerce table.shop_table tr.cart_item + tr.cart_item td{
    border-top:1px solid;
}
.woocommerce-cart table.cart .product-thumbnail {
    width: 5rem;
}
.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
    width: 75px;
}

.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
    padding:  2.5rem 1rem;
    text-align: center;
    vertical-align: top;
}
.woocommerce table.shop_table tbody tr:not(.cart_item):last-child td, .woocommerce-page table.shop_table tbody tr:not(.cart_item):last-child td {
    padding: 1rem 1rem;
}

.woocommerce table.cart td.product-name, .woocommerce #content table.cart td.product-name, .woocommerce-page table.cart td.product-name, .woocommerce-page #content table.cart td.product-name {
    text-align: left;
}

.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
    border: 1px solid;
    margin-right: 0.5em;
    width: auto;
    line-height: 1.3em;
    padding: 0.4em 1em;
    font-size: 0.938rem;
    height: 2.5rem;
}

.woocommerce table.shop_table thead th:first-child, .woocommerce-page table.shop_table thead th:first-child {
    padding-left:2.2rem
}
.woocommerce table.woocommerce-checkout-review-order-table thead th, .woocommerce-page table.woocommerce-checkout-review-order-table thead th {
    padding: 1.55rem 1rem;
}
.woocommerce table.woocommerce-checkout-review-order-table thead th:last-child, .woocommerce-page table.woocommerce-checkout-review-order-table thead th:last-child{
    padding-left:1rem;
}
.woocommerce table.shop_table.woocommerce-checkout-review-order-table td {
    padding: 1.8rem 1rem;
}
.woocommerce table.shop_table thead th, .woocommerce-page table.shop_table thead th ,
.woocommerce table.shop_table tbody td, .woocommerce-page table.shop_table tbody td {
    text-align: left;
}
.woocommerce .content .quantity  {
    width: 6.188rem;
    position:relative;
    overflow: hidden;
}

.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th,
.woocommerce table.cart td.product-name a, .woocommerce #content table.cart td.product-name a, .woocommerce-page table.cart td.product-name a, .woocommerce-page #content table.cart td.product-name a{
    font-size: 1.471rem;
    font-weight: 700;
}
table.shop_table .cart-subtotal .amount, .woocommerce-page table.shop_table .cart-subtotal .amount,.woocommerce .cart-collaterals .cart_totals .order-total strong, .scheme_original .woocommerce-page .cart-collaterals .cart_totals .order-total strong,
.woocommerce table.cart td.product-price span, .woocommerce #content table.cart td.product-price span, .woocommerce-page table.cart td.product-price span, .woocommerce-page #content table.cart td.product-price span,
.woocommerce table.cart td.product-subtotal span, .woocommerce #content table.cart td.product-subtotal span, .woocommerce-page table.cart td.product-subtotal span, .woocommerce-page #content table.cart td.product-subtotal span{
    font-size: 0.941rem;
    font-weight: 700;
}

.woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot th {
    color: #222222;
    font-weight: 400;
    font-size: 0.875em;
    text-align: right;
}


.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: right;
    width: 48%;
    max-width:290px;
}
.woocommerce .cart-collaterals h2, .woocommerce-page .cart-collaterals h2 {
    display: none;
}
.woocommerce .cart-collaterals table.shop_table{
    border:none;
}
.woocommerce .cart-collaterals .order-total strong, .woocommerce-page .cart-collaterals .order-total strong {
    font-weight: 400;
}
.woocommerce .cart-collaterals .cart-subtotal .amount, .woocommerce-page .cart-collaterals .cart-subtotal .amount {
    font-size: 1em;
    font-weight: 400;
}
.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th ,
.woocommerce .cart-collaterals .cart_totals table td, .woocommerce-page .cart-collaterals .cart_totals table td {
    vertical-align: bottom !important;
    padding: 1.1rem 1rem 1.1rem !important;
}
.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th {
    text-align: right;
}
.woocommerce .cart-collaterals .cart_totals table select, .woocommerce-page .cart-collaterals .cart_totals table select {
    background-color: #f4f7f9;
    font-size: 1em;
}
.woocommerce table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 100px;
}
.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after, .woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
    color: #222222;
    font-size: 1em;
    font-weight: 400;
}
.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {
    clear: none;
    float: left;
    margin-bottom: 30px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    float: right;
}


/* Checkout
--------------------------------------------------------------------------*/
.woocommerce-checkout  form.login .form-row label[for="rememberme"]{
    padding-left:0.8em;
}
.woocommerce form .form-row .select2-container{
    line-height:inherit;
}
.woocommerce form .form-row label, .woocommerce-page form .form-row label ,
.woocommerce form .form-row label .required, .woocommerce-page form .form-row label  .required{
    line-height: 1.3em;
    font-size: 1.176rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0.2em;
}
.woocommerce form .form-row label[for="createaccount"], .woocommerce-page form .form-row label[for="createaccount"] {
    font-size: 1rem;
    font-weight: 500;
}
.woocommerce-checkout #payment {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.woocommerce-checkout #payment ul.payment_methods, .woocommerce-checkout #payment div.form-row {
    padding: 1.8rem 2.1rem;
    border:none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.woocommerce-checkout #payment div.form-row {
    padding-left: 0;
    padding-right: 0;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
    margin-left: 0;
    display: block;
    clear: both;
    float: none;
    font-size: 1rem;
    line-height: 1.4;
}
.woocommerce-checkout #payment ul.payment_methods li input {
    margin: 1rem 1rem 0 0;
    vertical-align: top;
}


.woocommerce table.shop_table td {
    padding: 3rem 1em;
    border-top: none;
}
.woocommerce table.shop_table td:first-child{    padding-left:2.2rem;}
.woocommerce table.shop_table td:last-child{     padding-right:2.2rem;}
.woocommerce table.shop_table tr + tr td{
    padding-top:1rem;
}

.woocommerce .checkout h3, .woocommerce-page .checkout h3 {
    margin: 0 0 1.1em;
    font-size: 1.471rem;
    font-weight: 700;
}

.woocommerce .checkout .col-2 h3#ship-to-different-address label, .woocommerce-page .checkout .col-2 h3#ship-to-different-address label {
    display: inline-block;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {
    font-weight: 400;
}

.woocommerce .checkout #order_review, .woocommerce-page .checkout #order_review {
    margin-top: 1.2rem;
    margin-bottom: 3em;
    max-width: 970px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-flow: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
}
.woocommerce .checkout #order_review > *, .woocommerce-page .checkout #order_review > *{
    width: 48% !important;
}

.woocommerce .checkout #order_review_heading, .woocommerce-page .checkout #order_review_heading {
    padding-top: 1.825em;
}



.woocommerce table.shop_table.woocommerce-checkout-review-order-table tr td.product-total .amount, .woocommerce-page table.shop_table.woocommerce-checkout-review-order-table tr td.product-total .amount,
.woocommerce .checkout #order_review .order-total .amount, .woocommerce-page .checkout #order_review .order-total .amount ,
.woocommerce .checkout #order_review .cart-subtotal .amount, .woocommerce-page .checkout #order_review .cart-subtotal .amount {
    line-height: 1.3em;
    font-size: 0.941rem;
    font-weight: 700;
    text-transform: uppercase;
}
.woocommerce table.shop_table thead th, .woocommerce-page table.shop_table thead th,
.woocommerce .checkout #order_review .payment_methods li label, .woocommerce-page .checkout #order_review .payment_methods li label,
.woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot th,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tr .product-name, .woocommerce-page table.shop_table.woocommerce-checkout-review-order-table tr .product-name{
    font-size: 1.471rem;
    font-weight: 700;
}
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tr.cart_item .product-name strong, .woocommerce-page table.shop_table.woocommerce-checkout-review-order-table tr.cart_item .product-name strong{
    font-size: 1rem;
    font-weight:400;
    white-space: nowrap;
}


.woocommerce .checkout #order_review .payment_methods li, .woocommerce-page .checkout #order_review .payment_methods li {
    list-style: none;
}
.woocommerce-checkout #payment div.payment_box:after {
    top: 0;
}

.woocommerce .order_details li, .woocommerce-page .order_details li {
    font-size: 1em;
    line-height: 1em;
    list-style: none;
}

.woocommerce .order_details li strong, .woocommerce-page .order_details li strong {
    font-weight: 300;
    color: #222222;
}
.woocommerce-checkout #payment {
    background-color: transparent;
}
.woocommerce-checkout #payment ul{
    border:1px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    float: none;
    width: 100%;
}
.woocommerce form .form-row {
    margin: 0 0 1em;
}
#order_comments_field #order_comments{
    padding: 2rem;
    height:auto;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* My Account
--------------------------------------------------------------------------*/
.woocommerce-account .addresses .title h3 {
    font-size: 2em;
    margin-top: 0;
}


/*  Messages */
.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before {    content:none;}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message , .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    padding: 2.7rem 2.2rem!important;
    display: table;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
    font-size: 1.471rem;
    font-weight: 700;
}


/* Additional style */
.content_woo_full_width {
    margin-bottom: 5.882rem;
}

.woocommerce #review_form #respond input, .woocommerce-page #review_form #respond input{    width: 100%;}
.woocommerce #review_form #respond label, .woocommerce-page #review_form #respond label{    display: block;}
.woocommerce #review_form #respond p.form-submit {    margin: 10px 0 0;}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: none !important;
}

.woocommerce .woocommerce-ordering select::-ms-expand {
    display: none;
}
.woocommerce .woocommerce-ordering select {
    -webkit-appearance: none;
    -moz-appearance: none;
}


.top_panel_icon.menu_main_cart span.top_panel_cart_button{
    opacity: 0 !important;
}

/* Images and thumbnails */
.woocommerce-main-image {
    position: relative;
    display:block;
}
.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
    margin-bottom: 2em;
    width: 37%;
    float: left;
}
.woocommerce div.product div.images img {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:first-child {
    margin-bottom: 6px;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    padding: 0 6px 6px 0;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
/* Built-in images slider */
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
    max-width: none;
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:first-child {
    margin-bottom: 0;
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:nth-child(n+2) {
    padding: 0;
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image img {
    border: none;
}
.woocommerce div.product div.images .flex-viewport {
    margin-bottom: 6px;
}
.woocommerce div.product div.images .flex-control-thumbs li {
    padding: 0 6px 6px 0;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}