@charset "utf-8";

/* With side menu - uncomment next row
@import url('responsive-outer-sidebar.css');
*/

/* Responsive styles (without sidemenu)
-------------------------------------------------------------- */

@media (min-width: 1440px) and (max-width: 1509px) {
	.post_item_colored .post_featured .post_title {
		font-size: 1.2em;
		line-height: 1.3em;
	}
	.post_item_colored .match_date, .post_item_colored .post_category {
		font-size: 1em;
		line-height: 1.3em;
	}
}

/*
Apple iPhone 5, 5S & 5C 
Apple iPod Touch (5th generation)
*/
/* With side menu
@media (min-width: 1510px) and (max-width: 1679px) {
*/
/* Without side menu */
@media (min-width: 1263px) and (max-width: 1439px) {


    .sc_tabs.sc_tabs_style_1 .sc_tabs_titles li a {
        padding-left: 1.9em;
        padding-right: 1.9em;
    }





	/* Body sizes */
	.body_style_boxed .page_wrap {
        width:1060px;
        width:92%;
    }
	.slider_boxed, .content_wrap, .content_container {	width:1000px; }

	/* Content and Sidebar */
	.sidebar_show .content { width: 670px; }
	.sidebar { 				 width: 270px; }
	
	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 330px; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: -300px; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  330px; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right:-300px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 670px; }
	.woocommerce .sidebar { 			 width: 270px; }

	/* WooCommerce: Fullwide or Fullscreen with sidebar */
	.woocommerce.body_style_fullwide.sidebar_right .content, .woocommerce.body_style_fullscreen.sidebar_right .content { padding-right: 310px; }
	.woocommerce.body_style_fullwide.sidebar_right .sidebar, .woocommerce.body_style_fullscreen.sidebar_right .sidebar { margin-left: -280px; }
	.woocommerce.body_style_fullwide.sidebar_left  .content, .woocommerce.body_style_fullscreen.sidebar_left  .content { padding-left:  310px; }
	.woocommerce.body_style_fullwide.sidebar_left  .sidebar, .woocommerce.body_style_fullscreen.sidebar_left  .sidebar { margin-right:-280px; }

	.article_style_boxed .sidebar_inner,
	.body_filled .sidebar[class*="scheme_"] .sidebar_inner {
		padding: 2.1429em;
	}
	
	/* Top Panel */
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1.5em;
	}
	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}
	
	/* Posts layouts */
	.post_item_colored .post_category {
		max-height:1.2em;
		overflow:hidden;
	}
	.post_item_colored .post_descr .post_price {
		margin-top: 1.2em;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 343px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 515px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 257px;
	}
	
	/* Shortcodes */
	.sc_matches_next {
		width: 35%;
	}
	.sc_matches_current {
		width: 65%;
	}
	.sc_matches_next, .sc_matches_current {
		padding: 2.5em 2.5em 1em;
	}
	.sc_matches.style_matches-1 .sc_matches_title {
		font-size: 2.5714em;
	}
	.sc_matches.style_matches-1 .sc_matches_descr {
		font-size:1.2857em;
	}
	.type_player.post_item_colored .player_info {
		font-size:0.9em;
	}
	.sc_matches.style_matches-2 .sc_match_info .name {
		width:8em;
	}
	
	/* Widgets */
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}
	
	/* Widget Recent News */
	.sc_recent_news_style_news-announce .post_size_full {	height: 372px; }
	.sc_recent_news_style_news-announce .post_size_big {	height: 186px; }
	.sc_recent_news_style_news-announce .post_size_medium {	height: 93px;  }
	.sc_recent_news_style_news-announce .post_size_small {	height: 93px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	height: 560px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	height: 280px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	height: 140px;  }
	.sc_recent_news_style_news-announce .post_size_medium .post_title,
	.sc_recent_news_style_news-announce .post_size_small .post_title {	font-size: 1.2em; }
}


/* With side menu
@media (min-width: 1366px) and (max-width: 1509px) {
*/
/* Without side menu */
@media (min-width: 1136px) and (max-width: 1262px) {

    .top_panel_wrap .sidebar_cart {
        width: 210px !important;
    }




	/* Body sizes */
	.body_style_boxed .page_wrap {
        width:92%;
    }
	.slider_boxed, .content_wrap, .content_container {	width:910px; }

	/* Content and Sidebar */
	.sidebar_show .content { width: 610px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 610px; }

	/* Posts layouts */
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 313px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 470px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 235px;
	}
	.sc_recent_news_style_news-announce .post_size_full {	height: 344px; }
	.sc_recent_news_style_news-announce .post_size_big {	height: 172px; }
	.sc_recent_news_style_news-announce .post_size_medium {	height: 86px;  }
	.sc_recent_news_style_news-announce .post_size_small {	height: 86px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	height: 512px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	height: 256px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	height: 128px;  }
	.sc_recent_news_style_news-announce .post_size_medium .post_title,
	.sc_recent_news_style_news-announce .post_size_small .post_title {	font-size: 1.2em; }
}


/* With side menu
@media (min-width: 1280px) and (max-width: 1365px) {
*/
/* Without side menu */
@media (min-width: 1024px) and (max-width: 1135px) {

    .top_panel_wrap .sidebar_cart {
        width: 200px !important;
    }

    .copyright_wrap,
    footer.widget_area .widget_area_inner {
        font-size: 1rem;
    }





	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }
	.slider_boxed, .content_wrap, .content_container {	width:964px; }

	/* Content and Sidebar */
	.sidebar_show .content { width: 664px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 664px; }

	/* Posts layouts */
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 331px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 497px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 248px;
	}
	.sc_recent_news_style_news-announce .post_size_full {	height: 372px; }
	.sc_recent_news_style_news-announce .post_size_big {	height: 186px; }
	.sc_recent_news_style_news-announce .post_size_medium {	height: 93px;  }
	.sc_recent_news_style_news-announce .post_size_small {	height: 93px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	height: 540px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	height: 270px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	height: 135px;  }
	.sc_recent_news_style_news-announce .post_size_medium .post_title,
	.sc_recent_news_style_news-announce .post_size_small .post_title {	font-size: 1.2em; }
}


/* With side menu
@media (min-width: 960px) and (max-width: 1279px) {
*/
/* Without side menu */
@media (min-width: 960px) and (max-width: 1023px) {



    .copyright_wrap,
    footer.widget_area .widget_area_inner {
        font-size: 1rem;
    }





    /* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }
	.slider_boxed, .content_wrap, .content_container {	width:900px; }

	/* Content and Sidebar */
	.sidebar_show .content { width: 600px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 600px; }

	/* Main Slider */
	.slider_over_content .sc_form_message textarea {
		min-height: 8em;
	}

	/* Posts layouts */
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 310px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 465px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 232px;
	}
	.sc_recent_news_style_news-announce .post_size_full {	height: 336px; }
	.sc_recent_news_style_news-announce .post_size_big {	height: 168px; }
	.sc_recent_news_style_news-announce .post_size_medium {	height: 84px;  }
	.sc_recent_news_style_news-announce .post_size_small {	height: 84px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	height: 504px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	height: 252px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	height: 126px;  }
	.sc_recent_news_style_news-announce .post_size_medium .post_title,
	.sc_recent_news_style_news-announce .post_size_small .post_title {	font-size: 1.2em; }
}


/*
Apple iPhone 4 & 4S
Apple iPod Touch (4th generation)
*/
/* With side menu
@media (min-width: 960px) and (max-width: 1509px) {
*/
/* Without side menu */
@media (min-width: 960px) and (max-width: 1262px) {


	.sidebar { 				 width: 230px; }
	
	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 300px; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: -270px; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  300px; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right:-270px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce .sidebar { 			 width: 230px; }

	/* WooCommerce: Fullwide or Fullscreen with sidebar */
	.woocommerce.body_style_fullwide.sidebar_right .content, .woocommerce.body_style_fullscreen.sidebar_right .content { padding-right: 280px; }
	.woocommerce.body_style_fullwide.sidebar_right .sidebar, .woocommerce.body_style_fullscreen.sidebar_right .sidebar { margin-left: -250px; }
	.woocommerce.body_style_fullwide.sidebar_left  .content, .woocommerce.body_style_fullscreen.sidebar_left  .content { padding-left:  280px; }
	.woocommerce.body_style_fullwide.sidebar_left  .sidebar, .woocommerce.body_style_fullscreen.sidebar_left  .sidebar { margin-right:-250px; }

	.article_style_boxed .sidebar_inner,
	.body_filled .sidebar[class*="scheme_"] .sidebar_inner {
		padding: 2.1429em;
	}

	/* Top Panel */
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1.5em;
	}
	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}
	
	/* Posts layouts */
	.post_item_colored .post_category {
		max-height:1.2em;
		overflow:hidden;
	}
	.post_item_colored .post_descr .post_price {
		margin-top: 1.2em;
	}
	.post_item_colored .post_featured .post_title {
		font-size:1.2857em;
	}
	
	/* Widgets */
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.25em;
	}

	
	/* Woocommerce */
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}
	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}
	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top:-0.15em;
	}

	/* Shortcodes */
	.sc_googlemap {
		max-height:350px;
	}
	.sc_googlemap_content {
		position:static;
		width: auto;
	}
	
	/* Matches and Players*/
	.sc_matches_next {
		width: 35%;
	}
	.sc_matches_current {
		width: 65%;
	}
	.sc_matches_next, .sc_matches_current {
		padding: 2.5em 2.5em 1em;
	}
	.match_block .match_score {
		font-size: 3em;
	}
	.sc_matches.style_matches-1 .sc_matches_title {
		font-size: 2.5714em;
	}
	.sc_matches.style_matches-1 .sc_matches_descr {
		font-size:1.2857em;
	}
	.sc_matches.style_matches-2 .sc_match_info .name {
		width:6em;
	}
	.post_item_colored .match_date, .post_item_colored .post_category {
		font-size: 1.0769em;
		line-height:1.2em;
		margin-bottom:0.4em;
	}
	.type_player.post_item_colored .player_info {
		line-height:1.25em;
	}
	.post_item_single_players .player_content {
		padding-top:2.5em;
	}
}



/*
Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/
@media (min-width: 768px) and (max-width: 959px) {

    .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
        width: 16rem;
    }

    /* Main slider */
    .slider_wrap .tp-caption .sc_section  {         font-size: 0.9rem;  }

    .sc_tabs.sc_tabs_style_1 .sc_tabs_titles li a {
        padding-left: 1.9em;
        padding-right: 1.9em;
    }
    .sc_promo .sc_section_content_wrap .sc_title {
        font-size: 2.8rem;
    }

    .copyright_wrap,
    footer.widget_area .widget_area_inner {
        font-size: 1rem;
    }





	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }
    .body_style_boxed .vc_row[data-vc-full-width="true"] .vc_column_container {
        padding-left: 0;
        padding-right: 0;
    }
	.slider_boxed, .content_wrap, .content_container {	width:708px; }

	/* Content and Sidebar */
	.sidebar_show .content { width: 100%; float: none; }
	.sidebar_show .sidebar { width: 100%; float: none; margin-top: 6.5rem; }
	
	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 0 !important; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: 0 !important; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  0 !important; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right:0 !important; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 100%; float: none; }
	.woocommerce .sidebar { 			 width: 100%; float: none; }

	/* Main Slider */
	.slider_over_content .sc_form_message textarea {
		min-height: 7em;
	}
	.slider_over_content .sc_form .sc_form_item input[type="text"],
	.slider_over_content .sc_form .sc_form_item select,
	.slider_over_content .sc_form .sc_form_item textarea {
		padding: 0.6em 1em;
	}
	
	.sidebar aside {
		display: inline-block;
		vertical-align:top;
		width:31%;
		margin-left:3.5%;
	}
	.sidebar aside+aside {
		padding-top:0;
		border-top:none;
		margin-top:0;
	}
	.sidebar aside:nth-child(3n+1) {
		margin-left:0;
	}
	.sidebar aside:nth-child(3n+4),
	.sidebar aside:nth-child(3n+5),
	.sidebar aside:nth-child(3n+6) {
        margin-top: 3.129rem;
        padding-top: 3.1rem;
        border-top:1px solid #f4f7f9;
    }

	.gallery.gallery-columns-9 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 20% !important; }
	
	/* Top Panel */
	.top_panel_top_user_area {
		float:none;
		clear:both;
		width:100%;
	}
	.top_panel_top_socials {
		float:left;
		margin-left:0;
		margin-right:4.5em;
	}
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1.5em;
		margin-bottom:1.5em;
	}
	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}
	
	/* Login and Register */
	.popup_wrap {
		left: 50%;
		-webkit-transform:translateX(-50%);
		   -moz-transform:translateX(-50%);
			-ms-transform:translateX(-50%);
				transform:translateX(-50%);
	}
	
	/* Posts layouts */
	.post_item_colored .post_category {
		max-height:1.2em;
		overflow:hidden;
	}
	.post_item_colored .post_descr .post_price {
		margin-top: 1.2em;
	}
	.post_item_colored .post_info_wrap .post_button + .post_button {
		margin-left:0.4em;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 246px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 369px;
	}
	
	/* Widgets */
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}
	.sc_recent_news_style_news-announce .post_item {		float:none; }
	.sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 198px; }
	.sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 198px; }
	.sc_recent_news_style_news-announce .post_size_medium {	width: 100%; height: 198px;  }
	.sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 198px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 198px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 198px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 198px;  }
	.sc_recent_news_style_news-announce .post_size_full .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_big .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_medium .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_small .post_featured { max-height: 100%; }

	/* Shortcodes */	
	.sc_promo_block {
		min-width: 50%;
        padding: 3.5em;
    }
	.sc_googlemap {
		max-height:350px;
	}
	.sc_googlemap_content {
		position:static;
		width: auto;
	}
	.popup_menuitem > .sc_menuitems_wrap {
		width: 600px;
	}
	
	/* Matches and Players */
	.sc_matches_next, .sc_matches_current {
		float:none;
		width: 100%;
		padding: 2.5em 2.5em 1em;
	}
	.match_block .match_score {
		font-size: 3em;
	}
	.sc_matches.style_matches-1 .sc_matches_title {
		font-size: 2.5714em;
	}
	.sc_matches.style_matches-1 .sc_matches_descr {
		font-size:1.2857em;
	}
	.sc_matches.style_matches-2 .sc_matches_next .sc_matches_list {
		float:none;
		width: 100%;
	}
	.sc_matches.style_matches-2 .sc_match_info {
		text-align:center;
	}
	.sc_matches.style_matches-2 .sc_match_info .name {
		width:10em;
	}
	.post_item_colored .match_date, .post_item_colored .post_category {
		font-size: 1.0769em;
		line-height:1.2em;
		margin-bottom:0.4em;
	}
	.type_player.post_item_colored .player_info {
		line-height:1.4em;
	}
	.post_item_single_players .player_content {
		padding-top:2.5em;
	}


	/* Woocommerce */
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}
	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}
	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top:-0.15em;
	}
	.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
		width: 60px;
	}
	.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
		padding: 8px;
	}
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float:left;
	}
	.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
		width: auto;
	}
	.woocommerce #content table.cart td.actions > .button, .woocommerce table.cart td.actions > .button, .woocommerce-page #content table.cart td.actions > .button, .woocommerce-page table.cart td.actions > .button {
		float: right;
	}
	.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_5, .woocommerce-page .related.products ul.products li.product.column-1_5,
	.woocommerce .upcells.products ul.products li.product.column-1_5, .woocommerce-page .upcells.products ul.products li.product.column-1_5,
	.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5 {
		width: 33.3333%;
	}
	.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
	.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6,
	.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
		width: 33.3333%;
	}

	/* BuddyPress */
	#buddypress #item-nav {
		float:none;
		margin-bottom:2em;
		width:auto;
		display:inline-block;
	}
	#buddypress #item-nav ul {
		overflow:hidden;
	}
	#buddypress #item-nav ul li {
		float:left;
	}

    /* HTML5 Player */
    #myplayer .ttw-music-player .album-cover {
        width: 100%;
        float: none;
		overflow:hidden;
    }
    #myplayer .ttw-music-player .album-cover .img {
		position: static;
		max-height:none;
		margin-top:0;
	}
    #myplayer .ttw-music-player .album-cover img {
		max-width:none;
	}
    #myplayer .ttw-music-player .tracklist {
        position: relative;
        margin-left: 0;
        padding: 0;
        top: 0;
    }
	
	/* Scroll to Top */
	.scroll_to_top {
		right: 1em;
	}
	.scroll_to_top.show {
		bottom: 1em;
	}
}


@media (min-width: 640px) and (max-width: 767px) {


    .sc_form.sc_form_style_form_2 .column-right{
        width: 200px !important;
    }

    body .cq-draggable-container {
        padding-bottom: 80px;
    }

    .sc_promo .sc_section_content_wrap .sc_title{
        font-size: 2.735rem;
    }





	/* Body sizes */
	.slider_boxed, .content_wrap, .content_container {	width:600px; }
	
	/* Login and Register */
	.popup_wrap {
		left: 50%;
		-webkit-transform:translateX(-50%);
		   -moz-transform:translateX(-50%);
			-ms-transform:translateX(-50%);
				transform:translateX(-50%);
	}

	/* Posts layouts */
	.isotope_wrap {
		margin-right:-20px;
	}
	.isotope_wrap .isotope_item {
		padding-right:20px;
		padding-bottom:30px;
		min-width:50%;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 206px;
		min-width:0;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 310px;
	}
	.sc_recent_news_style_news-announce .post_item {		float:none; }
	.sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 168px; }
	.sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 168px; }
	.sc_recent_news_style_news-announce .post_size_medium {	width: 100%; height: 168px;  }
	.sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 168px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 168px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 168px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 168px;  }
	.sc_recent_news_style_news-announce .post_size_full .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_big .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_medium .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_small .post_featured { max-height: 100%; }

	.popup_menuitem > .sc_menuitems_wrap {
		width: 500px;
	}
}


@media (min-width: 480px) and (max-width: 639px) {

    .sc_form.sc_form_style_form_2 .sc_columns {
        flex-direction: column;
        -webkit-flex-flow: column;
    }
    .sc_form.sc_form_style_form_2 .column-left,
    .sc_form.sc_form_style_form_2 .column-right{
        width: 100% !important;
        padding-right: 0;
    }

    body .cq-draggable-container {
        padding-bottom: 80px;
    }

    .sc_promo .sc_section_content_wrap .sc_title{
        font-size: 1.935rem;
    }

    .sc_menuitems_style_menuitems-1 .sc_menuitems_item {
        flex-direction: column;
        -webkit-flex-flow: column;
    }
    .sc_menuitems_style_menuitems-1 .sc_menuitems_item > *{
        width: 100%;
    }
    .sc_menuitems_style_menuitems-1 .sc_menuitem_title {
        margin-top: 0.8em;
    }

    .sc_table table .sc_table_left {
        padding-left: 1rem;
    }
    .footer_wrap.widget_area .columns_wrap.flex aside {
        max-width: 50%;
    }
    .sc_dropcaps b, .sc_dropcaps strong {
        font-size: 1.071rem;
        font-weight: 700;
        line-height: 1.8;
    }





	/* Body sizes */
	.slider_boxed, .content_wrap, .content_container {	width:440px; }
	
	/* Login and Register */
	.popup_wrap {
		left: 50%;
		-webkit-transform:translateX(-70%);
		   -moz-transform:translateX(-70%);
			-ms-transform:translateX(-70%);
				transform:translateX(-70%);
	}
	.popup_registration {
		-webkit-transform:translateX(-55%);
		   -moz-transform:translateX(-55%);
			-ms-transform:translateX(-55%);
				transform:translateX(-55%);
	}

	/* Posts layouts */
	.isotope_wrap {
		margin-right:-20px;
	}
	.isotope_wrap .isotope_item {
		padding-right:20px;
		padding-bottom:30px;
		min-width:50%;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 230px;
		min-width:0;
	}
	.isotope_wrap .isotope_item_colored_1 .post_featured {
		float:none;
		width:100%;
	}
	.isotope_wrap .isotope_item_colored_1 .post_description {
		padding-left: 2em;
		padding-bottom: 2em;
	}
	.sc_recent_news_style_news-announce .post_item {		float:none; }
	.sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 124px; }
	.sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 124px; }
	.sc_recent_news_style_news-announce .post_size_medium {	width: 100%; height: 124px;  }
	.sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 124px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 124px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 124px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 124px;  }
	.sc_recent_news_style_news-announce .post_size_full .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_big .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_medium .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_small .post_featured { max-height: 100%; }

	.popup_menuitem > .sc_menuitems_wrap {
		width: 320px;
	}
	.sc_menuitems_style_menuitems-2 .sc_menuitem_box_title {
		font-size: 1.5em;
	}
	.sc_menuitems_style_menuitems-2 .sc_menuitem_nutritions_list li {
		width: 100%;
	}
}



/*
Portrait orientation
Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/
@media (min-width: 480px) and (max-width: 767px) {


    /* Main slider */
    .slider_wrap .tp-caption .sc_section  {         font-size: 0.7rem;          }
    .slider_wrap .tp-caption .slider_descr  {    display: none !important;   }

    .copyright_wrap,
    footer.widget_area .widget_area_inner {
        font-size: 1rem;
    }





	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }
    .body_style_boxed .vc_row[data-vc-full-width="true"] .vc_column_container {
        padding-left: 0;
        padding-right: 0;
    }

	/* Content and Sidebar */
	.sidebar_show .content { width: 100%; float: none; }
	.sidebar_show .sidebar { width: 100%; float: none; margin-top: 6.5rem; }
	
	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 0 !important; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: 0 !important; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  0 !important; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right: 0 !important; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 100%; float: none; }
	.woocommerce .sidebar { 			 width: 100%; float: none; }


	/* Main Slider */
	.slider_over_content_inner {
		padding:1.5em;
	}
	.slider_over_content .sc_form_message textarea {
		min-height: 7em;
	}
	.slider_over_content .sc_form .sc_form_item input[type="text"],
	.slider_over_content .sc_form .sc_form_item select,
	.slider_over_content .sc_form .sc_form_item textarea {
		padding: 0.5em 1em;
	}
	
	.widget_area aside {
		display: inline-block;
		float:none;
		vertical-align:top;
		width:48%;
		margin-left:4%;
	}
	.widget_area aside[class*="column-"] {
		margin-left:0;
	}
	.widget_area aside+aside {
		padding-top:0;
		border-top:none;
		margin-top:0;
	}
	.widget_area aside:nth-child(2n+1) {
		margin-left:0;
	}
	.widget_area aside:nth-child(2n+3),
	.widget_area aside:nth-child(2n+4) {
        margin-top: 3.129rem;
        padding-top: 3.1rem;
        border-top:1px solid #f4f7f9;
    }

	/* Grid */
	.container, .container-fluid {
		padding-left:  10px;
		padding-right: 10px;
	}
	.row, .columns_wrap {
		margin-right: -20px;
	}
	.row > [class*="column-"], .columns_wrap > [class*="column-"] {
		padding-right: 20px;
	}
	.row.column_padding_left, .columns_wrap.column_padding_left {
		margin-left: -20px;
	}
	.row.column_padding_left > [class*="column-"], .columns_wrap.column_padding_left > [class*="column-"],
	.row > [class*="column-"].column_padding_left, .columns_wrap > [class*="column-"].column_padding_left {
		padding-left: 20px;
	}
	.row.column_padding_right, .columns_wrap.column_padding_right {
		margin-right: -20px;
	}
	.row.column_padding_right > [class*="column-"], .columns_wrap.column_padding_right > [class*="column-"],
	.row > [class*="column-"].column_padding_right, .columns_wrap > [class*="column-"].column_padding_right {
		padding-right:20px;
	}
	.row.column_padding_center, .columns_wrap.column_padding_center {
		margin-left: -10px;
		margin-right: -10px;
	}
	.row.column_padding_center > [class*="column-"], .columns_wrap.column_padding_center > [class*="column-"],
	.row > [class*="column-"].column_padding_center, .columns_wrap > [class*="column-"].column_padding_center {
		padding-left:20px;
	}
	.row > [class*="column-"].column_padding_bottom, .columns_wrap > [class*="column-"].column_padding_bottom {
		padding-bottom: 20px;
	}

	/* Columns relayout (max 2 columns in the row) */
	.row:not(.columns_fluid) > [class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"] {
		width:50%;
	}
	.row:not(.columns_fluid) > .column-1_1, .row:not(.columns_fluid) > .column-2_2, .row:not(.columns_fluid) > .column-3_3, .row:not(.columns_fluid) > .column-4_4,
	.row:not(.columns_fluid) > .column-5_5,	.row:not(.columns_fluid) > .column-6_6, .row:not(.columns_fluid) > .column-7_7, .row:not(.columns_fluid) > .column-8_8,
	.row:not(.columns_fluid) > .column-9_9, .row:not(.columns_fluid) > .column-10_10,
	.row:not(.columns_fluid) > .column-11_11, .row:not(.columns_fluid) > .column-12_12,
	.columns_wrap:not(.columns_fluid) > .column-1_1, .columns_wrap:not(.columns_fluid) > .column-2_2, .columns_wrap:not(.columns_fluid) > .column-3_3,
	.columns_wrap:not(.columns_fluid) > .column-4_4, .columns_wrap:not(.columns_fluid) > .column-5_5, .columns_wrap:not(.columns_fluid) > .column-6_6,
	.columns_wrap:not(.columns_fluid) > .column-7_7, .columns_wrap:not(.columns_fluid) > .column-8_8, .columns_wrap:not(.columns_fluid) > .column-9_9,
	.columns_wrap:not(.columns_fluid) > .column-10_10, .columns_wrap:not(.columns_fluid) > .column-11_11, .columns_wrap:not(.columns_fluid) > .column-12_12,
/*	.row:not(.columns_fluid) > .column-1_3:nth-child(3n), .columns_wrap:not(.columns_fluid) > .column-1_3:nth-child(3n), */
	.row:not(.columns_fluid) > .column-2_3, .columns_wrap:not(.columns_fluid) > .column-2_3,
/*	.row:not(.columns_fluid) > .column-1_3.after_span_2, .columns_wrap:not(.columns_fluid) > .column-1_3.after_span_2,*/
	.row:not(.columns_fluid) > .column-2_4, .columns_wrap:not(.columns_fluid) > .column-3_4,
/*	.row:not(.columns_fluid) > .column-1_4.after_span_2, .columns_wrap:not(.columns_fluid) > .column-1_4.after_span_3,*/
/*	.row:not(.columns_fluid) > .column-1_5:nth-child(5n), .columns_wrap:not(.columns_fluid) > .column-1_5:nth-child(5n),*/
	.row:not(.columns_fluid) > .column-2_5, .columns_wrap:not(.columns_fluid) > .column-2_5,
	.row:not(.columns_fluid) > .column-3_5, .columns_wrap:not(.columns_fluid) > .column-3_5,
	.row:not(.columns_fluid) > .column-4_5, .columns_wrap:not(.columns_fluid) > .column-4_5,
	.row:not(.columns_fluid) > .column-2_6, .columns_wrap:not(.columns_fluid) > .column-2_6,
	.row:not(.columns_fluid) > .column-3_6, .columns_wrap:not(.columns_fluid) > .column-3_6,
	.row:not(.columns_fluid) > .column-4_6, .columns_wrap:not(.columns_fluid) > .column-4_6,
	.row:not(.columns_fluid) > .column-5_6, .columns_wrap:not(.columns_fluid) > .column-5_6	{
		width:100%;
	}
	.row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3), .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3),
	.row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4), .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4) {
		padding-top: 20px;
	}

	.gallery.gallery-columns-9 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-5 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-4 .gallery-item {	width: 33.3333% !important; }
	

	/* Top Panel */
	.top_panel_top_user_area {
		float:none;
		clear:both;
		width:100%;
	}
	.top_panel_top_socials {
		float:left;
		margin-left:0;
		margin-right:4.5em;
	}
	.top_panel_top_contact_area,
	.top_panel_top_search,
	.top_panel_top_user_area .menu_user_nav {
		margin-top:0.5em;
	}
	.top_panel_top_search {
		padding-top: 0.1em;
		margin-right:1em;
	}
	.top_panel_top_search .search_field {
		max-width:4em;
	}
	.top_panel_style_3 .top_panel_top_socials {
		margin-right:2em;
	}

	.top_panel_style_1 .top_panel_top_socials,
	.top_panel_style_1 .top_panel_top_open_hours,
	.top_panel_style_2 .top_panel_top_socials,
	.top_panel_style_2 .top_panel_top_open_hours,
	.top_panel_style_3 .top_panel_top_socials {
		margin-top: 0.5em;
	}
	.top_panel_style_1 .menu_user_nav > li > a,
	.top_panel_style_2 .menu_user_nav > li > a,
	.top_panel_style_3 .menu_user_nav > li > a {
		padding-top: 0;
		padding-bottom:0;
	}

	.top_panel_style_3 .search_results {
		top: 3em;
	}
	
	.top_panel_middle .logo {
		font-size:0.875em;
	}
	.top_panel_middle .logo img {
		max-height:40px;
	}
	
	.top_panel_style_1 .contact_logo {
		width:100%;
	}
	.top_panel_style_1 .logo {
		text-align:center;
	}
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1em;
		margin-bottom:2em;
		padding-top:0 !important;
		width:33.3333% !important;
	}
	.top_panel_style_2 .contact_field {
		margin:1em 0;
	}
	.top_panel_style_2 .contact_field,
	.top_panel_style_2 .contact_phone > span+span {
		text-align:center;
	}
	.top_panel_style_1 .contact_field .contact_icon,
	.top_panel_style_2 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}

	.top_panel_title .page_title,
	.top_panel_title .post_navi,
 	.top_panel_title .breadcrumbs {
		max-width: 100% !important;
		float:none;
		text-align:center;
	}
	.top_panel_title.title_present .breadcrumbs {
		padding: 0 0 1.5em 0 !important;
	}

	/* Posts layouts */
	.post_featured_left > .post_featured,
	.post_featured_right > .post_featured {
		float: none;
		margin-left: 0;
		margin-bottom: 2em;
		width: 100%;
	}

	.isotope_wrap .isotope_item_colored .post_item .hover_icon,
	.isotope_wrap .isotope_item_grid .post_item .hover_icon,
	.isotope_wrap .isotope_item_square .post_item .hover_icon,
	.isotope_wrap .isotope_item_portfolio .post_item .hover_icon {
		display:none;
	}
	.ih-item.square.effect1.bottom_to_top .info .post_title {
		margin-top:35% !important;
	}
	
	.post_item_colored .post_category {
		max-height:1.2em;
		overflow:hidden;
	}
	.post_item_colored .post_descr .post_price {
		margin-top: 1.2em;
	}
	.post_item_colored .post_info_wrap .post_button + .post_button {
		margin-left:0.4em;
	}
	.post_item_colored .post_featured .post_title, .post_item_colored .post_featured .post_descr {
		padding:4px 8px;
	}

	.ih-item.square.effect_dir .info .post_title {
		margin-top:4% !important;
	}

	.isotope_wrap .isotope_item_colored_1 .post_featured {
		float:none;
		width:100%;
	}
	.isotope_wrap .isotope_item_colored_1 .post_description {
		padding-left: 2em;
		padding-bottom: 2em;
	}
	

	.comments_list_wrap ul ul ul {
		/* padding-left:0; */
		margin-left:0;
	}
	
	/* Reviews block */
	.reviews_block {
		width:100%; 
	}
	.content .reviews_block {
		float:none;
		margin-left:0;
	}

	/* Widgets */
	td, th {
		padding:2px;
	}
	.widget_area .post_item .post_title {
		margin-top:0;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}

	.sc_recent_news_header_split .sc_recent_news_header_captions,
	.sc_recent_news_header_split .sc_recent_news_header_categories {
		width:100%;
		padding-right:0;
		text-align:left;
	}
	.sc_recent_news_header_split .sc_recent_news_header_categories {
		margin-top:1em;
	}
	.sc_recent_news_header_split .sc_recent_news_header_categories > * {
		margin: 0 1em 0 0;
	}
	.sc_recent_news_style_news-announce .post_item {		float:none; }
	.sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 112px; }
	.sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 112px; }
	.sc_recent_news_style_news-announce .post_size_medium {	width: 100%; height: 112px;  }
	.sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 112px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 112px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 112px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 112px;  }
	.sc_recent_news_style_news-announce .post_size_full .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_big .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_medium .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_small .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-excerpt .post_featured {
		float:none;
		padding-right:0;
		margin-bottom:1.5em;
		width: 100%;
	}
	.sc_recent_news_style_news-excerpt .post_body {
		float:none;
		width:100%;
	}
	

	/* Woocommerce */
	.woocommerce-shipping-fields {
		margin-top: 2em;
	}
	.woocommerce ul.products, .woocommerce-page ul.products {
		margin-right:-20px;
	}
	.woocommerce.columns-1 ul.products li.product, .woocommerce-page.columns-1 ul.products li.product,
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		padding: 0 20px 20px 0;
	}
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}
	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}
	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top:-0.15em;
	}
	.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
		width: 50px;
	}
	.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
		padding: 6px;
	}
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float:left;
	}
	.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
		width: auto;
	}
	.woocommerce #content table.cart td.actions > .button, .woocommerce table.cart td.actions > .button, .woocommerce-page #content table.cart td.actions > .button, .woocommerce-page table.cart td.actions > .button {
		float: right;
	}
	
	.woocommerce.columns-2 ul.products li.product, .woocommerce-page.columns-2 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_2, .woocommerce-page .related.products ul.products li.product.column-1_2,
	.woocommerce .upcells.products ul.products li.product.column-1_2, .woocommerce-page .upcells.products ul.products li.product.column-1_2,
	.woocommerce ul.products li.product.column-1_2, .woocommerce-page ul.products li.product.column-1_2,
	.woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_3, .woocommerce-page .related.products ul.products li.product.column-1_3,
	.woocommerce .upcells.products ul.products li.product.column-1_3, .woocommerce-page .upcells.products ul.products li.product.column-1_3,
	.woocommerce ul.products li.product.column-1_3, .woocommerce-page ul.products li.product.column-1_3,
	.woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_4, .woocommerce-page .related.products ul.products li.product.column-1_4,
	.woocommerce .upcells.products ul.products li.product.column-1_4, .woocommerce-page .upcells.products ul.products li.product.column-1_4,
	.woocommerce ul.products li.product.column-1_4, .woocommerce-page ul.products li.product.column-1_4,
	.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_5, .woocommerce-page .related.products ul.products li.product.column-1_5,
	.woocommerce .upcells.products ul.products li.product.column-1_5, .woocommerce-page .upcells.products ul.products li.product.column-1_5,
	.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5,
	.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
	.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6,
	.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
		width: 49.6%;
	}

	.woocommerce .list_products.shop_mode_list ul.products li.product,
	.woocommerce-page .list_products.shop_mode_list ul.products li.product {
		width:100%;
	}
	.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
		clear: none;
	}
	.woocommerce ul.products li:nth-child(2n+3), .woocommerce-page ul.products li:nth-child(2n+3) {
		clear: both;
	}


	/* BuddyPress */
	#buddypress #item-nav {
		float:none;
		margin-bottom:2em;
		width:auto;
		display:inline-block;
	}
	#buddypress #item-nav ul {
		overflow:hidden;
	}
	#buddypress #item-nav ul li {
		float:left;
	}


    /* HTML5 Player */
    #myplayer .ttw-music-player .album-cover {
        width: 100%;
        float: none;
		overflow:hidden;
    }
    #myplayer .ttw-music-player .album-cover .img {
		position: static;
		max-height:none;
		margin-top:0;
	}
    #myplayer .ttw-music-player .album-cover img {
		max-width:none;
	}
    #myplayer .ttw-music-player .tracklist {
        position: relative;
        margin-left: 0;
        padding: 0;
        top: 0;
    }
	

	
	/* Shortcodes */
	.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
		border-width: 1px;
	}
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after,
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a:after {
		height:2px;
	}
	input.sc_button_size_large[type="submit"], input.sc_button_size_large[type="button"], button.sc_button_size_large, .sc_button.sc_button_size_large {
		padding: 1em 1.25em;
	}
	input.sc_button_size_medium[type="submit"], input.sc_button_size_medium[type="button"], button.sc_button_size_medium, .sc_button.sc_button_size_medium {
		padding: 0.8em 1em;
	}
	input[type="submit"]:before, input[type="button"]:before, button:before, .sc_button:before {
		margin-right:4px;
	}
	
	.sc_price_block .sc_price_block_description {
    	min-height: 9em;
	}

	.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item {
		min-width: 33.3333%;
		margin-bottom: 1em;
	}

	.sc_googlemap {
		max-height:250px;
	}
	.sc_googlemap_content {
		position:static;
		width: auto;
	}
	
/*
	.sc_slider, .sc_slider .swiper_slide {
		max-height:210px;
	}
*/

	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a,
	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a .sc_socials_hover {
		width:2.5em;
		height:2.5em;
		line-height:2.5em;
	}
	.sc_socials.sc_socials_size_small .social_icons span {
		font-size:1.2em;
	}

	.sc_tabs .sc_tabs_titles li a {
		padding: 0.5em;
	}
	.sc_twitter_item {
		padding:0 3em;
	}
	.sc_twitter .sc_slider_controls_wrap a {
		font-size: 1.5em;
	}

	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2 {
		width: 50%;
		max-width: 50%;
	}
	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2 .sc_services_item {
		margin-right: 0%;
	}
	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2:nth-child(2n) .sc_services_item {
		margin-left: 0%;
		margin-right: 0;
	}
	.sc_services_style_services-5 .sc_service_container .sc_services_image,
	.sc_services_style_services-5 .sc_service_container.sc_align_left .sc_services_image,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .sc_services_image	{
		position: relative;
		width: 100%;
		left: 0%;
		top: 0%;
		transform: translateY(0%) translateX(0%);
		margin-bottom: 2.2857em;
	}
	.sc_services_style_services-5 .sc_service_container .sc_icon, 
	.sc_services_style_services-5.sc_services_type_images .sc_service_container .sc_services_item_featured,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap > .column-1_2:nth-child(2n) .sc_icon,
	.sc_services_style_services-5.sc_services_type_images .sc_service_container.sc_align_right .columns_wrap > .column-1_2:nth-child(2n) .sc_services_item_featured	{
		float: left;
		margin-right: 2.2857em;
		margin-left: 0;
	}
	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2 .sc_services_item_content,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap > .column-1_2 .sc_services_item_content	{
		text-align: left;
	}
	
	.sc_services_style_services-5 .sc_service_container.sc_align_left .columns_wrap,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap 	{
		margin-left: 0;
		margin-right: 0;
	}
	.sc_services_style_services-5 .sc_services_button {
		margin-top: 2.2857em;
	}

	.sc_promo_block {
        padding: 3em;
		min-width: 50%;
	}

	/* Matches and Players */
	.sc_matches_next, .sc_matches_current {
		float:none;
		width: 100%;
		padding: 2.5em 2.5em 1em;
	}
	.match_block .match_score {
		font-size: 3em;
	}
	.sc_matches.style_matches-1 .sc_matches_title {
		font-size: 2.5714em;
	}
	.sc_matches.style_matches-1 .sc_matches_descr {
		font-size:1.2857em;
	}
	.sc_matches.style_matches-1 .sc_matches_list {
		margin-top:1em;
	}
	.sc_matches.style_matches-2 .sc_matches_next .sc_matches_list {
		float:none;
		width: 100%;
	}
	.sc_matches.style_matches-2 .sc_match_info {
		text-align:center;
	}
	.sc_matches.style_matches-2 .sc_match_info .name {
		width:8em;
	}
	.post_item_colored .match_date, .post_item_colored .post_category {
		font-size: 1em;
		line-height:1.2em;
		margin-bottom:0.2em;
	}
	.type_player.post_item_colored .player_info {
		line-height:1.4em;
	}
	.post_item_single_players .player_content {
		padding-top:2.5em;
	}

	/* Scroll to Top */
	.scroll_to_top {
		right: 1em;
	}
	.scroll_to_top.show {
		bottom: 1em;
	}
	
	/* Sunnyjar Profiler */
	.sunnyjar_profiler {
		display:none;
	}
}




/*
Very common low res
*/
@media (max-width: 479px) {


    .sc_call_to_action_style_2.sc_call_to_action_align_center{
        padding-right: 1em;
        padding-left: 1em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .sc_form.sc_form_style_form_2 .sc_columns {
        flex-direction: column;
        -webkit-flex-flow: column;
    }
    .sc_form.sc_form_style_form_2 .column-left,
    .sc_form.sc_form_style_form_2 .column-right{
        width: 100% !important;
        padding-right: 0;
    }

    .sc_table table .sc_table_left {
        padding-left: 1rem;
    }

    /* Main slider */
    .slider_wrap .tp-caption .sc_section  {         font-size: 0.4rem;          }
    .slider_wrap .tp-caption .slider_descr   {      display: none !important;   }
    .slider_wrap .sc_button {
        padding: 0.6em 1.2em !important
    }

    footer.emailer_wrap .sc_title {
        font-size: 2rem;
    }

    .comments_wrap .comments_author, .comments_wrap .comments_email {
        width: 100%;
        float: none;
    }

    .sc_promo_block {
        min-width: 100%;
        margin: 0 !important;
        float:none;
        padding: 2em 0 3em!important;
    }
    .sc_promo_image {
        position: relative;
        height: 200px;
        min-width: 100%;
    }
    .sc_promo_block.sc_align_right *,
    .sc_promo_block.sc_align_right *:after {
        text-align: left;
    }

    .sc_menuitems_style_menuitems-1 .sc_menuitems_item {
        flex-direction: column;
        -webkit-flex-flow: column;
    }
    .sc_menuitems_style_menuitems-1 .sc_menuitems_item > *{
        width: 100%;
    }
    .sc_menuitems_style_menuitems-1 .sc_menuitem_title {
        margin-top: 0.8em;
    }

    .post_item_404 .page_title {
        font-size: 1.9rem;
    }

    .sc_infobox b, .sc_infobox strong {
        font-size: 1.1rem;
    }

    .widget_area .post_item .post_info.update > * {
        min-height: 1.5rem;
    }
    .copyright_wrap,
    footer.widget_area .widget_area_inner {
        font-size: 1rem;
    }
    .footer_wrap.widget_area .columns_wrap.flex {
        flex-direction: column;
        -webkit-flex-flow: column;
    }
    .footer_wrap.widget_area .columns_wrap.flex aside {
        width: 100%;
        max-width: 100%;
    }


    /*Audio*/
    .sc_audio div.sc_audio_image,
    .mejs-controls a.mejs-horizontal-volume-slider,
    .mejs-container .mejs-controls .mejs-button.mejs-volume-button,
    .mejs-container .mejs-controls .mejs-time{
        display: none !important;
    }
    .mejs-container .mejs-controls .mejs-time {
        margin-right: 0 !important;
    }
    .sc_audio.sc_audio_image .sc_audio_header,
    .sc_audio.sc_audio_image .__sc_audio_container{
        left: 0;
        border-right: none;
    }
    .mejs-controls .mejs-time-rail > span {
        width: 180px !important;
    }

    /* Skills: Pie*/
    .sc_skills.sc_skills_pie.sc_skills_compact_on {
        flex-direction: column;
        -webkit-flex-flow: column;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: center;
        -webkit-align-items: center;
    }
    .sc_skills.sc_skills_pie.sc_skills_compact_on .sc_skills_legend, .sc_skills_pie.sc_skills_compact_on .sc_skills_item{
        width: 100%;
        padding-left: 0;
    }
    .sc_skills.sc_skills_pie.sc_skills_compact_on .sc_skills_legend{
        margin-bottom: 2rem;
    }

    /* Input */
    .input_field {                  width: 100%;        }
    .input_field:nth-child(odd) {   margin-right: 0;    }




	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }
    .body_style_boxed .vc_row[data-vc-full-width="true"] .vc_column_container {
        padding-left: 0;
        padding-right: 0;
    }
	.slider_boxed, .content_wrap, .content_container {	width:280px; }

	/* Content and Sidebar */
	.sidebar_show .content { width: 100%; float: none; }
	.sidebar_show .sidebar { width: 100%; float: none; margin-top: 6.5rem; }
	
	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 0 !important; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: 0 !important; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  0 !important; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right: 0 !important; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 100%; float: none; }
	.woocommerce .sidebar { 			 width: 100%; float: none; }

	/* Main Slider */
	.slider_over_content {
		right: -100%;
		width:100%;
	}
	.slider_over_content.opened {
		right: 0;
	}
	.slider_over_content_inner {
		padding:3em 1.5em 1.5em;
	}
	/* Uncomment rule below if you shift bullets left on slider with content */
	/*
	.slider_with_over_content .tp-bullets {
		left: 50% !important;
	}
	*/
	.slider_over_close,
	.slider_over_button {
		display:block;
	}
	.slider_over_content .sc_form_message textarea {
		min-height: 7em;
	}
	.slider_over_content .sc_form .sc_form_item input[type="text"],
	.slider_over_content .sc_form .sc_form_item select,
	.slider_over_content .sc_form .sc_form_item textarea {
		padding: 0.5em 1em;
	}
	
	.widget_area aside {
		display: block;
		float:none;
		width:100%;
		margin-left:0 !important;
	}
	.widget_area aside+aside {
        margin-top: 3.129rem;
        padding-top: 3.1rem;
        border-top:1px solid #f4f7f9;
    }

	/* Grid */
	.container, .container-fluid {
		padding-left:  5px;
		padding-right: 5px;
	}
	.row, .columns_wrap {
		margin-right: -10px;
	}
	.row > [class*="column-"], .columns_wrap > [class*="column-"] {
		padding-right: 10px;
	}
	.row.column_padding_left, .columns_wrap.column_padding_left {
		margin-left: -10px;
	}
	.row.column_padding_left > [class*="column-"], .columns_wrap.column_padding_left > [class*="column-"],
	.row > [class*="column-"].column_padding_left, .columns_wrap > [class*="column-"].column_padding_left {
		padding-left: 10px;
	}
	.row.column_padding_right, .columns_wrap.column_padding_right {
		margin-right: -10px;
	}
	.row.column_padding_right > [class*="column-"], .columns_wrap.column_padding_right > [class*="column-"],
	.row > [class*="column-"].column_padding_right, .columns_wrap > [class*="column-"].column_padding_right {
		padding-right:10px;
	}
	.row.column_padding_center, .columns_wrap.column_padding_center {
		margin-left: -5px;
		margin-right: -5px;
	}
	.row.column_padding_center > [class*="column-"], .columns_wrap.column_padding_center > [class*="column-"],
	.row > [class*="column-"].column_padding_center, .columns_wrap > [class*="column-"].column_padding_center {
		padding-left:10px;
	}
	.row > [class*="column-"].column_padding_bottom, .columns_wrap > [class*="column-"].column_padding_bottom {
		padding-bottom: 10px;
	}

	/* Columns relayout (no columns) */
	.row:not(.columns_fluid) > [class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"] {
		width:100%;
	}
	.row.columns_fluid > [class*="column-"], .columns_wrap.columns_fluid > [class*="column-"] {
		width:50%;
	}
	.row.columns_fluid > .column-1_1, .row.columns_fluid > .column-2_2, .row.columns_fluid > .column-3_3, .row.columns_fluid > .column-4_4, .row.columns_fluid > .column-5_5,
	.row.columns_fluid > .column-6_6, .row.columns_fluid > .column-7_7, .row.columns_fluid > .column-8_8, .row.columns_fluid > .column-9_9, .row.columns_fluid > .column-10_10,
	.row.columns_fluid > .column-11_11, .row.columns_fluid > .column-12_12,
	.columns_wrap.columns_fluid > .column-1_1, .columns_wrap.columns_fluid > .column-2_2, .columns_wrap.columns_fluid > .column-3_3,
	.columns_wrap.columns_fluid > .column-4_4, .columns_wrap.columns_fluid > .column-5_5, .columns_wrap.columns_fluid > .column-6_6,
	.columns_wrap.columns_fluid > .column-7_7, .columns_wrap.columns_fluid > .column-8_8, .columns_wrap.columns_fluid > .column-9_9,
	.columns_wrap.columns_fluid > .column-10_10, .columns_wrap.columns_fluid > .column-11_11, .columns_wrap.columns_fluid > .column-12_12,
	.row.columns_fluid > .column-1_3:nth-child(3n), .columns_wrap.columns_fluid > .column-1_3:nth-child(3n),
	.row.columns_fluid > .column-2_3, .columns_wrap.columns_fluid > .column-2_3,
	.row.columns_fluid > .column-1_3.after_span_2, .columns_wrap.columns_fluid > .column-1_3.after_span_2,
	.row.columns_fluid > .column-2_4, .columns_wrap.columns_fluid > .column-3_4,
	.row.columns_fluid > .column-1_4.after_span_2, .columns_wrap.columns_fluid > .column-1_4.after_span_3,
	.row.columns_fluid > .column-1_5:nth-child(5n), .columns_wrap.columns_fluid > .column-1_5:nth-child(5n),
	.row.columns_fluid > .column-2_5, .columns_wrap.columns_fluid > .column-2_5,
	.row.columns_fluid > .column-3_5, .columns_wrap.columns_fluid > .column-3_5,
	.row.columns_fluid > .column-4_5, .columns_wrap.columns_fluid > .column-4_5,
	.row.columns_fluid > .column-2_6, .columns_wrap.columns_fluid > .column-2_6,
	.row.columns_fluid > .column-3_6, .columns_wrap.columns_fluid > .column-3_6,
	.row.columns_fluid > .column-4_6, .columns_wrap.columns_fluid > .column-4_6,
	.row.columns_fluid > .column-5_6, .columns_wrap.columns_fluid > .column-5_6	{
		width:100%;
	}
	.row:not(.columns_fluid) > [class*="column-"]+[class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"]+[class*="column-"],
	.row.columns_fluid > [class*="column-"]:nth-child(2n+3), .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+3),
	.row.columns_fluid > [class*="column-"]:nth-child(2n+4), .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+4) {
		padding-top: 30px;
	}

	.gallery.gallery-columns-9 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-5 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-4 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-3 .gallery-item {	width: 50% !important; }

	/* Top Panel */
	.top_panel_top_contact_area,
	.top_panel_top_open_hours,
	.top_panel_top_user_area,
	.top_panel_top_socials {
		float:none;
		clear:both;
		width:100%;
		text-align:center;
		margin:0.5em 0 0 0;
	}
	.top_panel_top_user_area .menu_user_nav {
		display:inline-block;
		float: none;
		margin-top:-0.5em;
	}
	.top_panel_top .search_field {
		max-width:3em;
	}
	.top_panel_top_socials {
		line-height:1em;
	}
	.top_panel_top_socials .sc_socials_item {
		margin-right:1.4em !important;
	}
	.top_panel_top_user_area .menu_user_nav li {
		text-align:left;
	}
	.top_panel_top_user_area .menu_user_nav > li > a {
		padding:0.5em 0;
	}
	
	.top_panel_middle .logo {
		font-size:0.875em;
	}
	.top_panel_middle .logo img {
		max-height:40px;
	}
	
	.top_panel_style_1 .contact_logo {
		width:100%;
	}
	.top_panel_style_1 .logo {
		text-align:center;
	}
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1em;
		margin-bottom:2em;
		padding-top:0 !important;
		width:33.3333% !important;
	}
	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}
	.top_panel_style_2 .contact_logo,
	.top_panel_style_2 .contact_field {
		width:100% !important;
	}
	.top_panel_style_2 .contact_logo {
		margin:0;
		padding:0 !important;
	}
	.top_panel_style_2 .contact_logo .logo {
		margin:0;
	}
	.top_panel_style_2 .logo {
		text-align:center;
	}
	.top_panel_style_2 .contact_field {
		text-align:center;
		margin:1.5em 0;
		padding:0 !important;
	}
	.top_panel_style_2 .contact_phone > span+span {
		text-align:center;
	}
	.top_panel_style_2 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
	}

	.top_panel_title .page_title,
	.top_panel_title .post_navi,
 	.top_panel_title .breadcrumbs {
		max-width: 100% !important;
		float:none;
		text-align:center;
	}
	.top_panel_title.title_present .breadcrumbs {
		padding: 0 0 1.5em 0 !important;
	}

	.menu_user_nav > li {
		float: none;
		display:inline-block;
	}

	.top_panel_style_3 .top_panel_top_search,
	.top_panel_style_3 .menu_user_nav {
		margin-top: 0;
		line-height:1.2857em;
	}
	.top_panel_style_3 .top_panel_top_search {
		padding-top: 0;
	}
	.top_panel_style_3 .search_submit,
	.top_panel_style_3 .search_field {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	.top_panel_style_3 .search_results {
		right: auto;
		left:0;
		top: 3em;
	}
	.top_panel_style_3 .search_results:after {
		right: auto;
		left:4em;
	}
	.top_panel_style_5 .top_panel_middle .sidebar_cart,
	.top_panel_style_6 .top_panel_middle .sidebar_cart {
		right:-100px;
	}
	.top_panel_style_5 .top_panel_middle .sidebar_cart:after,
	.top_panel_style_6 .top_panel_middle .sidebar_cart:after {
		right:46%;
		left:auto;
	}

	.top_panel_style_8 .contact_logo {
		display:block;
		position:static;
		left: auto;
		top:auto;
		-webkit-transform:none;
		   -moz-transform:none;
				transform:none;
		padding: 2em 0 0 0;
		text-align:center;
	}

	/* Login and Register */
	.popup_wrap {
		width: 300px;
		left: 50%;
		-webkit-transform:translateX(-55%);
		   -moz-transform:translateX(-55%);
			-ms-transform:translateX(-55%);
				transform:translateX(-55%);
	}
	.popup_wrap .popup_form_field .forgot_password {
		float: none;
		display:block;
		margin-bottom:0.5em;
	}
	.popup_wrap .login_socials_title {
		font-size:1.25em;
	}
	.popup_wrap input[type="text"], .popup_wrap input[type="email"], .popup_wrap input[type="password"] {
		font-size:1em;
	}

	/* Posts layouts */
	.post_featured_left > .post_featured,
	.post_featured_right > .post_featured {
		float: none;
		margin-left: 0;
		margin-bottom: 2em;
		width: 100%;
	}

	.isotope_wrap {
		margin-right:-10px;
	}
	.isotope_wrap .isotope_item {
		padding-right:10px;
		padding-bottom:30px;
		width:100% !important;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 290px !important;
	}

	.isotope_wrap .isotope_item_colored_1 .post_featured {
		float:none;
		width:100%;
	}
	.isotope_wrap .isotope_item_colored_1 .post_description {
		padding-left: 2em;
		padding-bottom: 2em;
	}
	
	
	/* Reviews block */
	.reviews_block {
		width:100%; 
	}
	.content .reviews_block {
		float:none;
		margin-left:0;
	}
	
	/* Comments */
	.comments_list_wrap ul ul {
		/* padding-left:0; */
		margin-left:0;
	}
	.comments_list_wrap ul.children {
		padding-left: 0;
	}
	
	/* Widgets */
	td, th {
		padding:2px;
	}
	.widget_area .post_item .post_title {
		margin-top:0;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}
	

	/* Woocommerce */
	.woocommerce-shipping-fields {
		margin-top: 2em;
	}
	.woocommerce ul.products, .woocommerce-page ul.products {
		margin-right:-20px;
	}
	.woocommerce.columns-1 ul.products li.product, .woocommerce-page.columns-1 ul.products li.product,
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		padding: 0 20px 20px 0;
	}
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}
	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}
	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top:-0.15em;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		padding:0;
	}
	.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
		width: 40px;
	}
	.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
		padding: 4px;
	}
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float:left;
	}
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float:left;
	}
	.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
		width: auto;
	}
	.woocommerce #content table.cart td.actions .button.alt, .woocommerce #content table.cart td.actions .input-text + .button, .woocommerce table.cart td.actions .button.alt, .woocommerce table.cart td.actions .input-text + .button, .woocommerce-page #content table.cart td.actions .button.alt, .woocommerce-page #content table.cart td.actions .input-text + .button, .woocommerce-page table.cart td.actions .button.alt, .woocommerce-page table.cart td.actions .input-text + .button {
		float:left;
}
	.woocommerce #content table.cart td.actions > .button, .woocommerce table.cart td.actions > .button, .woocommerce-page #content table.cart td.actions > .button, .woocommerce-page table.cart td.actions > .button {
		float: right;
	}
	.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
		width: 100%;
		float:none;
	}
	
	.woocommerce[class*="column-"] ul.products li.product, .woocommerce-page[class*="column-"] ul.products li.product,
	.woocommerce ul.products li.product[class*="column-"], .woocommerce-page ul.products li.product[class*="column-"],
	.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product,
	.woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product,
	.woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
		width: 100%;
		float:none;
	}
	
	.woocommerce.columns-2 ul.products li.product, .woocommerce-page.columns-2 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_2, .woocommerce-page .related.products ul.products li.product.column-1_2,
	.woocommerce .upcells.products ul.products li.product.column-1_2, .woocommerce-page .upcells.products ul.products li.product.column-1_2,
	.woocommerce ul.products li.product.column-1_2, .woocommerce-page ul.products li.product.column-1_2,
	.woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_3, .woocommerce-page .related.products ul.products li.product.column-1_3,
	.woocommerce .upcells.products ul.products li.product.column-1_3, .woocommerce-page .upcells.products ul.products li.product.column-1_3,
	.woocommerce ul.products li.product.column-1_3, .woocommerce-page ul.products li.product.column-1_3,
	.woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_4, .woocommerce-page .related.products ul.products li.product.column-1_4,
	.woocommerce .upcells.products ul.products li.product.column-1_4, .woocommerce-page .upcells.products ul.products li.product.column-1_4,
	.woocommerce ul.products li.product.column-1_4, .woocommerce-page ul.products li.product.column-1_4,
	.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_5, .woocommerce-page .related.products ul.products li.product.column-1_5,
	.woocommerce .upcells.products ul.products li.product.column-1_5, .woocommerce-page .upcells.products ul.products li.product.column-1_5,
	.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5,
	.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
	.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6,
	.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
		width: 100%;
		float:none;
	}

	/* BuddyPress */
	#buddypress #item-nav {
		float:none;
		margin-bottom:2em;
		width:auto;
		display:inline-block;
	}
	#buddypress #item-nav ul {
		overflow:hidden;
	}
	#buddypress #item-nav ul li {
		float:left;
	}

    /* HTML5 Player */
    #myplayer .ttw-music-player .album-cover {
        width: 100%;
        float: none;
		overflow:hidden;
    }
	#myplayer .ttw-music-player .album-cover,
	#myplayer .ttw-music-player .album-cover .highlight {
		height: 100px;
	}
    #myplayer .ttw-music-player .album-cover .img {
		position: static;
		max-height:none;
		margin-top:0;
	}
    #myplayer .ttw-music-player .album-cover img {
		max-width:none;
	}
    #myplayer .ttw-music-player .tracklist {
        position: relative;
        margin-left: 0;
        padding: 0;
        top: 0;
    }
	
	
	/* Shortcodes */
	.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
		border-width: 1px;
	}
	input.sc_button_size_large[type="submit"], input.sc_button_size_large[type="button"], button.sc_button_size_large, .sc_button.sc_button_size_large {
		padding: 1em 1.25em;
	}
	input.sc_button_size_medium[type="submit"], input.sc_button_size_medium[type="button"], button.sc_button_size_medium, .sc_button.sc_button_size_medium {
		padding: 0.8em 1em;
	}
	input[type="submit"]:before, input[type="button"]:before, button:before, .sc_button:before {
		margin-right:4px;
	}

	.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item {
		min-width: 50%;
		margin-bottom: 1em;
	}

	.sc_form .sc_form_field {
		float: none;
		width: 100%;
		padding-left:0 !important;
	}

	.sc_googlemap {
		max-height:200px;
	}
	.sc_googlemap_content {
		position:static;
		width: auto;
	}

	.popup_menuitem > .sc_menuitems_wrap {
		width: 250px;
	}
	.sc_menuitems_style_menuitems-2 .sc_menuitem_box_title {
		font-size: 1.25em;
	}
	.sc_menuitems_style_menuitems-2 .sc_menuitem_nutritions_list li {
		width: 100%;
	}

    .sc_price_block .sc_price_block_description {
        min-height: 9em;
    }
	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a,
	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a .sc_socials_hover {
		width:2.5em;
		height:2.5em;
		line-height:2.5em;
	}
	.sc_socials.sc_socials_size_small .social_icons span {
		font-size:1.2em;
	}
	.sc_tabs .sc_tabs_titles li a {
		padding: 0.5em;
	}
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after,
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a:after {
		height:2px;
	}
	.sc_twitter_item {
		padding:0 3em;
	}
	.sc_twitter .sc_slider_controls_wrap a {
		font-size: 1.5em;
	}
	.sc_video_player.sc_video_bordered .sc_video_frame {
		max-width:198px;
	}
	
	.sc_services_style_services-5 .columns_wrap > .column-1_3 {
		width: 100%;
		max-width: 100%;
	}
	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2 .sc_services_item {
		margin-right: 0%;
	}
	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2:nth-child(2n) .sc_services_item {
		margin-left: 0%;
		margin-right: 0;
	}
	.sc_services_style_services-5 .sc_service_container .sc_services_image,
	.sc_services_style_services-5 .sc_service_container.sc_align_left .sc_services_image,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .sc_services_image	{
		position: relative;
		width: 100%;
		left: 0%;
		top: 0%;
		transform: translateY(0%) translateX(0%);
		margin-bottom:2.2857em;
	}
	.sc_services_style_services-5 .sc_service_container .sc_icon, 
	.sc_services_style_services-5.sc_services_type_images .sc_service_container .sc_services_item_featured,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap > .column-1_2:nth-child(2n) .sc_icon,
	.sc_services_style_services-5.sc_services_type_images .sc_service_container.sc_align_right .columns_wrap > .column-1_2:nth-child(2n) .sc_services_item_featured	{
		float: left;
		margin-right: 2.2857em;
		margin-left: 0;
	}
	.sc_services_style_services-5 .sc_service_container .columns_wrap > .column-1_2 .sc_services_item_content,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap > .column-1_2 .sc_services_item_content	{
		text-align: left;
	}
	
	.sc_services_style_services-5 .sc_service_container.sc_align_left .columns_wrap,
	.sc_services_style_services-5 .sc_service_container.sc_align_right .columns_wrap 	{
		margin-left: 0;
		margin-right: 0;
	}
	.sc_services_style_services-5 .sc_services_button {
		margin-top: 2.2857em;
	}

	/* Matches and Players */
	.sc_matches_next, .sc_matches_current {
		float:none;
		width: 100%;
		padding: 2.5em 2.5em 1em;
	}
	.match_block .match_score {
		font-size: 2.5em;
	}
	.match_block .player, .match_block .match_info {
		display:block;
		width:100%;
	}
	.match_block .match_info {
		margin: 2em 0;
	}
	.sc_matches.style_matches-1 .sc_matches_title {
		font-size: 2.5em;
	}
	.sc_matches.style_matches-1 .sc_matches_descr {
		font-size:1.1em;
	}
	.sc_matches.style_matches-1 .sc_matches_list {
		margin-top:1em;
	}
	.sc_matches.style_matches-2 .sc_matches_next .sc_matches_list {
		float:none;
		width: 100%;
	}
	.sc_matches.style_matches-2 .sc_match_info {
		text-align:center;
	}
	.sc_matches.style_matches-2 .sc_match_info .vs {
		display:block;
	}
	.sc_matches.style_matches-2 .sc_match_info .name {
		width:8em;
	}
	.sc_players_table table tr:first-child th, 
	.sc_players_table table tr:first-child td {
		font-size: 1.2em;
	}
	.sc_players_table .player img {
		max-width:20px;
	}
	.post_item_colored .match_date, .post_item_colored .post_category {
		font-size: 1em;
		line-height:1.2em;
		margin-bottom:0.2em;
	}
	.type_player.post_item_colored .player_info {
		line-height:1.4em;
	}
	.post_item_single_players .player_content {
		padding-top:2.5em;
	}


	/* Scroll to Top */
	.scroll_to_top {
		right: 1em;
	}
	.scroll_to_top.show {
		bottom: 1em;
	}
	
	/* Sunnyjar Profiler */
	.sunnyjar_profiler {
		display:none;
	}
}


/* Responsive - Changing the default responsive plugin Woocommerce */
@media (max-width: 768px) {


    /*Products list*/
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product {
        display:inline-block !important;
        float: none !important;
        clear: none !important;
        vertical-align: top;
    }
    .woocommerce .shop_mode_thumbs ul.products li.product, .woocommerce-page .shop_mode_thumbs ul.products li.product, .woocommerce-page[class*=columns-] .shop_mode_thumbs ul.products li.product, .woocommerce[class*=columns-] .shop_mode_thumbs ul.products li.product {
        width: 49.5%;
    }


    /* Single product */
    .woocommerce #content div.product div.images,
    .woocommerce div.product div.images,
    .woocommerce-page #content div.product div.images,
    .woocommerce-page div.product div.images{
        float:left;
    }
    .woocommerce div.product div.summary,
    .woocommerce-page #content div.product div.summary,
    .woocommerce #content div.product div.summary,
    .woocommerce-page div.product div.summary {
        float: right;
    }
    .woocommerce .related.products ul.products li.product.column-1_4 + li,
    .woocommerce-page .related.products ul.products li.product.column-1_4 + li{
        margin-left:-4px;
    }

    /*Cart*/
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background-color: transparent;
    }
    .woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon,
    .woocommerce #content table.cart td.actions > .button, .woocommerce table.cart td.actions > .button, .woocommerce-page #content table.cart td.actions > .button, .woocommerce-page table.cart td.actions > .button {
        display: inline-block;
        vertical-align: top;
    }
    .woocommerce-page.woocommerce-cart table.cart td.actions .button[name="update_cart"],
    .woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon{
        float: none !important;
    }

    .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
        text-align: left !important;
    }
    .woocommerce table.shop_table td:first-child,
    .woocommerce table.shop_table td {
        padding: 1.5rem 1.8rem;
    }
    .woocommerce table.shop_table_responsive tr.cart_item + .cart_item, .woocommerce-page table.shop_table_responsive tr.cart_item + .cart_item {
        border-top: 2px solid #222;
    }
    .woocommerce table.shop_table_responsive tr td:before, .woocommerce-page table.shop_table_responsive tr td:before {
        font-weight: 400;
        float: none;
        display: block;
        padding-bottom: 0.3em;
    }
    .woocommerce table.shop_table tr.cart_item td{
        border-top: 1px solid;
    }
    .woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
        float: none;
    }

    /*Checkout*/
    .woocommerce .checkout #order_review > *, .woocommerce-page .checkout #order_review > * {
        width: 100% !important;
    }
}

@media (max-width: 782px) {
	.admin-bar.top_panel_over .top_panel_wrap {	top:46px; }
	.admin-bar.top_panel_fixed .top_panel_wrap { top:46px; }
	.admin-bar #debug_log { top:46px; }
	.admin-bar .pushy .close-pushy::before { top: 3em;	}
	.admin-bar .pushy .pushy_inner {		padding-top: 4em; }
	.admin-bar .pushy .logo {				margin-bottom: 1em;	}

	.admin-bar .header_mobile .side_wrap {	top: 46px;	}
	.bar.menu_mobile_open{					height: calc(100% - 46px); }
}

@media (max-width: 599px) {
	.admin-bar.top_panel_over .top_panel_wrap {	top: 46px; }
	.admin-bar.top_panel_fixed .top_panel_wrap { top: 0; }
	.admin-bar #debug_log { top: 46px; }
}

@media (max-width: 639px){

	.popup_wrap{
		width: auto;
		min-width: 260px;
		max-width: 260px;
	}
	.popup_wrap .form_left, 
	.popup_wrap .form_right, 
	.popup_wrap.popup_registration .form_left, 
	.popup_wrap.popup_registration .form_right{
		float: none;
		padding: 0;
		border: none;
		width: 100%
	}
	.popup_wrap .form_right{
		margin-top: 20px;
	}
	.popup_wrap.popup_registration .form_right {
		margin-top: 0;
	}
}

@media (max-width: 480px) {

    /* Woocommerce
  ---------------------------------------------------------*/
    /*Products list*/
    .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
        float: none;
        width: 100%;
    }
    .woocommerce .shop_mode_list ul.products li.product .post_featured, .woocommerce-page .shop_mode_list ul.products li.product .post_featured {
        margin: 3rem 1em 0 0;
    }
    .single-product .columns_wrap div[class*="column-"] ul{
        margin-bottom: 0;
    }
    /* Single product */
    .single-product div.product .woocommerce-tabs.trx-stretch-width .wc-tabs li a {
        padding: 0.92em 1.2em;
    }
    .woocommerce #content div.product div.images,
    .woocommerce div.product div.images,
    .woocommerce-page #content div.product div.images,
    .woocommerce-page div.product div.images,
    .woocommerce div.product div.summary,
    .woocommerce-page #content div.product div.summary,
    .woocommerce #content div.product div.summary,
    .woocommerce-page div.product div.summary ,
    .woocommerce .shop_mode_thumbs ul.products li.product, .woocommerce-page .shop_mode_thumbs ul.products li.product, .woocommerce-page[class*=columns-] .shop_mode_thumbs ul.products li.product, .woocommerce[class*=columns-] .shop_mode_thumbs ul.products li.product {
        float: none;
        width: 100%;
    }

    /*Cart*/
    .woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
        margin-bottom: 1em;
    }
    .woocommerce.woocommerce-cart #content table.cart td.actions .coupon input[type="text"],    .woocommerce.woocommerce-cart table.cart td.actions .coupon input[type="text"],    .woocommerce-page.woocommerce-cart #content table.cart td.actions .coupon input[type="text"],    .woocommerce-page.woocommerce-cart table.cart td.actions .coupon input[type="text"],    .woocommerce.woocommerce-cart #content table.cart td.actions .coupon input[type="submit"],    .woocommerce.woocommerce-cart table.cart td.actions .coupon input[type="submit"],    .woocommerce-page.woocommerce-cart #content table.cart td.actions .coupon input[type="submit"],    .woocommerce-page.woocommerce-cart table.cart td.actions .coupon input[type="submit"]{
        width: 100%;
        display: block;
    }
    .woocommerce.woocommerce-cart #content table.cart td.actions .coupon input[type="text"],    .woocommerce.woocommerce-cart table.cart td.actions .coupon input[type="text"],    .woocommerce-page.woocommerce-cart #content table.cart td.actions .coupon input[type="text"],    .woocommerce-page.woocommerce-cart table.cart td.actions .coupon input[type="text"]{
        margin-right: 4%;
    }
    .woocommerce.woocommerce-cart #content table.cart td.actions .button[name="update_cart"], .woocommerce.woocommerce-cart table.cart td.actions .button[name="update_cart"], .woocommerce-page.woocommerce-cart #content table.cart td.actions .button[name="update_cart"], .woocommerce-page.woocommerce-cart table.cart td.actions .button[name="update_cart"] {
        width: 100% !important;
    }
    .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
        float: none;
        width: 100%;
    }
    .woocommerce-page.woocommerce-cart table.cart td.actions .button[name="update_cart"],
    .woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon{
        float: none !important;
    }
    /* Checkout */
    .woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
        float: none;
        width: 100%;
        display: block;
    }
    .woocommerce form .form-row {
        padding: 0;
    }
    .woocommerce .checkout h3, .woocommerce-page .checkout h3 {
        font-size: 2.2rem;
    }
    .woocommerce table.shop_table.woocommerce-checkout-review-order-table tr td.product-name, .woocommerce-page table.shop_table.woocommerce-checkout-review-order-table tr td.product-name {
        font-size: 1.1rem;
    }


    /* Visual Composer Extension: Draggable Timeline */
    body .cq-infobox {
        margin-top: -270px;
        margin-left: -70px;
        width: 150px;
    }
    body .cq-draggable-container {  padding-bottom: 60px;   }
    body .cq-innerbox {             padding: 0.5em 1.1em;   }
    body .cq-infobox:after {        left: 40px;             }
    body .cq-infobox:before {       left: 39px;             }
    body .cq-titlebar {             font-size: 12px;        }
    body .cq-carouselcontent {      font-size: 13px;        }

	.header_mobile .mask {
		display: none !important;
	}
	.header_mobile .content_wrap {
		margin-left: 35px;
		text-align: left;
	}
	.header_mobile .logo {
        padding-top: 2.6rem;
        padding-bottom: 1.3rem;
	}
	.header_mobile .menu_main_cart {
		right: 30px;
	}
	.header_mobile .menu_button {
		left: auto;
		right: 70px;
	}
    .header_mobile .menu_main_cart .contact_icon.icon-basket + div{
        display:none;
    }
    .header_mobile .side_wrap {
		width: 100%;
		top: 83px;
		left: -100%;
	}
	.admin-bar .header_mobile .side_wrap {
		top: 129px;
	}
	.header_mobile .panel_middle {
		font-size: 1em;
	}
}