/* Shortcode selector
-----------------------------------------------------------------*/
.sc_selector {
	width: auto !important;
	padding:2px !important;
}

.sc_refresh {
	display: inline-block;
	margin-left: 10px;
}


/* Attachment folders
-----------------------------------------------------------------*/
.compat-item .label {
	width: 30%;
}

.compat-attachment-fields .field .media_folder_selector {
	max-height: 200px;
	overflow: auto;
}


/* Additional column in the Categories list
-----------------------------------------------------------------*/
.sunnyjar_options_list {
	display:block;
	max-height:120px;
	/*max-width: 250px;*/
	overflow:auto;
}
.sunnyjar_options_list .sunnyjar_options_prop_value {
	font-style:italic;
	color: #222;
}


/* Widget's parameters
-----------------------------------------------------------------*/
.widgets_param_fullwidth {
	width: 100%;
}
.widgets_param_maxwidth {
	max-width: 220px;
}
.widgets_param_catlist {
	display:block;
	width:100%;
	max-height: 10em;
	overflow-y:auto;
}
.widgets_param_post_type {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	width:33.3333%;
	height: 1.5em;
	line-height: 1.5em;
}


/* TGMA
-----------------------------------------------------------------*/
#setting-error-tgmpa {
	display:block;
}
.tgmpa_line_template {
	display: block;
	margin: 0.5em 0.5em 0 0;
	clear: both;
}
.tgmpa_version {
	float: right;
	padding: 0em 1.5em 0.5em 0;
}
.tgmpa_column_version {
	min-width: 32px;
	text-align: right;
	float: right;
}


/* Internal Colorpicker "More Colors" button
-----------------------------------------------------------------*/
.iColorPicker_moreColors {
	display:inline-block;
    width: 14px;
    height: 14px;
	margin-left:2px;
    background: url(../images/colorpicker_morecolors.png);
	vertical-align:middle;
}


/* Reviews block
-----------------------------------------------------------------*/
.reviews_block { 
	margin: 0 0 10px 0;
	width: 390px;
	overflow: hidden;
}
.reviews_block .reviews_item { 
	position:relative;
	height:41px;
	padding-right:30px;
	overflow:hidden;
}
.reviews_block .reviews_value {
	position:absolute;
	top:0;
	right: 0;
	color:#333333;
	height:25px;
	line-height:25px;
	text-align:right;
}
.reviews_block .reviews_criteria {
	position:absolute;
	z-index:1;
	padding: 4px 10px 0 0;
	width:240px;
}
.reviews_block .reviews_max_level_10 .reviews_criteria {
	width:190px;
}
.reviews_block .reviews_max_level_100 .reviews_criteria {
	color: #ffffff;
	height:25px;
	line-height:25px;
	padding-left:10px;
}
.reviews_block .reviews_stars_wrap {
	position:relative;
	height:41px;
	width:92px;
	margin-left:250px;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
}
.reviews_block .reviews_max_level_10 .reviews_stars_wrap {
	width:158px;
	margin-left:200px;	
}
.reviews_block .reviews_editable .reviews_stars_wrap {
	cursor: pointer;
}
.reviews_block .reviews_max_level_100 .reviews_stars_wrap {
	margin-left:0;
	width:100%;
}
.reviews_block .reviews_stars_bg,
.reviews_block .reviews_stars_hover {
	position:absolute;
	left:4px;
	right:4px;
	top:4px;
}
.reviews_block .reviews_max_level_100 .reviews_stars_bg {
	background-color: #dddddd;
	height:25px;
}
.reviews_block .reviews_max_level_100 .reviews_stars_hover {
	background-color: #333333;
	height:25px;
}
.reviews_block .reviews_stars_hover {
	white-space:nowrap;
	overflow:hidden;
}
.reviews_block .reviews_slider {
	background-color: #333333;
	height: 6px;
	width: 8px;
	position: absolute;
	bottom: 4px;
	left: 0;
	-webkit-box-shadow: -1px 1px 1px 0px rgba(50, 50, 50, 0.75);
	   -moz-box-shadow: -1px 1px 1px 0px rgba(50, 50, 50, 0.75);
	        box-shadow: -1px 1px 1px 0px rgba(50, 50, 50, 0.75);
}
.reviews_block .reviews_max_level_100 .reviews_slider {
	bottom: 1px;
}
.reviews_block .reviews_slider:before {
	content: ' ';
	display: block;
	height: 6px;
	width: 6px;
	background-color: #333333;
	margin: -3px 0 0 1px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
			transform: rotate(45deg);
}

.reviews_block .reviews_star {
	display: inline-block;
	margin: 0;
	padding: 0; 
	font-size: 18px;
	vertical-align: top; 
} 
.reviews_block .reviews_max_level_10 .reviews_star {
	font-size: 16px;
} 
.reviews_block .reviews_star:before {
	content: '\e8c8';
	font-family: "fontello";
	font-size:inherit;
	display: inline-block;
	vertical-align:top;
	text-align: center;
}
.reviews_block .reviews_stars_hover .reviews_star:before {
	content: '\e820';
}


/* Profiler
-----------------------------------------------------------------*/
.sunnyjar_profiler {
	background-color:#effcfc;
	padding: 2em;
	border-top: 1px dashed #20c7ca;
	margin-left:160px;
}
@media (max-width: 959px) {
	.sunnyjar_profiler {
		margin-left:36px;
	}
}
@media (max-width: 781px) {
	.sunnyjar_profiler {
		margin-left:0;
	}
}
.sunnyjar_profiler .profiler_title {
	margin-top:0;
	font-size:1.5em;
}
.sunnyjar_profiler table {
	border-collapse:collapse;
}
.sunnyjar_profiler table th,
.sunnyjar_profiler table td {
	font-weight:normal;
	border: 1px solid #aaeeee;
	padding:6px 8px;
}
.sunnyjar_profiler table th {
	background-color:#ddf0f0;
}
