/*
Theme Name: SUNNYJAR Child
Theme URI: http://sunnyjar.ancorathemes.com/
Template: sunnyjar
Author: AncoraThemes
Author URI: http://ancorathemes.com/
Description: SUNNYJAR - Multipurpose and Multiskin Responsive Wordpress theme
Tags: flexible-header,custom-background,custom-colors,custom-header,custom-menu,featured-image-header,featured-images,full-width-template,microformats,post-formats,theme-options,threaded-comments,translation-ready
Version: 1.2.1539262119
Updated: 2018-10-11 19:48:39

*/
/*
.post-type-archive-product .page_content_wrap {
    padding-top: 15px;
}

.post-type-archive-product .slider_boxed, .post-type-archive-product .content_wrap, .post-type-archive-product .content_container {
    width: auto;
    margin: 0 auto;
}

.woocommerce.sidebar_show .content {
    width: auto !important;
}
.woocommerce .sidebar {
    width: 400px;
} */

.logo_slogan {
    display: none;
}